
    .JS_tabRolling2 { position:relative; width:940px; height:420px/*전체높이수정*/; margin:0 auto 100px; background:#fff; float:right}
    .JS_tabRolling2 a,
    .JS_tabRolling2 a:hover { text-decoration:none; }

    /* 정렬 */
    .JS_tabRolling2.grid4 .btn > li { width:24.89%; }
    .JS_tabRolling2.grid5 .btn > li { width:11.03%; }

    /* 버튼 */
    .JS_tabRolling2 .btn { position:relative; z-index:2; width:100.1%; padding:0; font-size:0; background:#fff; }
    .JS_tabRolling2 .btn:after { content:""; display:block; clear:both; *zoom:1; }
    .JS_tabRolling2 .btn > li { position:relative; float:left; height:39px; line-height:37px; margin:3px 0 0 -1px; border:1px solid #DBDBDB;cursor:pointer; font-size:14px; font-weight:400; letter-spacing:0em;  text-align:center; }
    .JS_tabRolling2 .btn > li.on { z-index:2; height:42px; margin:3px 0 0 -1px; border:1px solid #DBDBDB;background:#4F4F4F; font-weight:700; color:#FFFFFF; }
    .JS_tabRolling2 .btn > li.on .css-arrow-multicolor {width: 0px;height: 0px;border-left: 9px solid transparent;border-right: 9px solid transparent;border-top: 9px solid #4F4F4F;margin-left:108px; margin-top: 5px;}

    /* 리스트 */
    .JS_tabRolling2 .img { position:relative; z-index:1; top:-1px; width:100%/*필수*/; height:100%; margin:0 0 0 -1px; overflow:hidden; }
    .JS_tabRolling2 .img > li { position:absolute; top:0; width:100%/*필수*/; }
    .JS_tabRolling2 .item_list { position:relative;counter-reset:chapter 0; }
    .JS_tabRolling2 .item_list > ul { position:relative; font-size:0; line-height:0; letter-spacing:-4px; }
    .JS_tabRolling2 .item_list > ul .item { position:relative; display:inline-block; *display:inline; *zoom:1; width:100%; height:100%; font-size:12px; line-height:17px; letter-spacing:0; border:1px solid #DBDBDB;}

    /* 상품이미지 */
    .JS_tabRolling2 .item_list > ul .thumbnail { position:relative; width:100%; height:265px;font-size:0; line-height:0;}
    .JS_tabRolling2 .item_list > ul .thumbnail a img {  width:100%; height:265px; max-width:100%; box-sizing:border-box;}

    .JS_tabRolling2 .item_list > ul .description { display:block; font-size:12px; line-height:18px; }
    .JS_tabRolling2 .item_list > ul .description .name { display:block; margin:0 0 10px 5px; word-break:break-all; line-height:20px; font-weight:bold; }
    .JS_tabRolling2 .item_list > ul .description .name a:hover { text-decoration:none; }
    .JS_tabRolling2 .item_list > ul .description .line { display:block; height:0px; line-height:0; margin:0 0 10px; border-top:1px solid #eee; }
    .JS_tabRolling2 .item_list > ul .description .status { position:relative; display:block; margin:0 0 0 5px; line-height:0; *zoom:1; }
    .JS_tabRolling2 .item_list > ul .description .status:after { content:""; display:block; clear:both; }

    /* 컬러칩 */
    .JS_tabRolling2 .item_list > ul .description .colorChip { margin:0 0 0 5px; }
    .JS_tabRolling2 .item_list > ul .description .chips { float:none !important; display:inline-block; *display:inline; *zoom:1; width:15px !important; height:6px !important; margin:5px 2px 8px !important; padding:0; border:0 !important; border-radius:4px; font-size:0; line-height:0; letter-spacing:0; }
    .JS_tabRolling2 .item_list > ul .description .chips:first-child { margin:5px -1px 8px !important; }

    /* 아이콘 */
    .JS_tabRolling2 .item_list > ul .description .icon { margin:10px 0 0 0; vertical-align:middle; }
    .JS_tabRolling2 .item_list > ul .description .icon:after { content:""; display:block; clear:both; }
    .JS_tabRolling2 .item_list > ul .description .icon img { margin:0 7px 0 0; }

    .JS_tabRolling2 .item_list > ul .description .mileage { display:block; }
    .JS_tabRolling2 .item_list > ul .description span.grid { display:block; }

    /* 순위아이콘 */
    .JS_tabRolling2 .item_list .best_ico { position:absolute; z-index:10; left:-61px; top:20px; width:50px; line-height:30px; border-top:1px solid #111; border-bottom:1px solid #111; background:#fff; font-size:15px; font-weight:bold; text-align:center; }
    .JS_tabRolling2 .item_list .item:hover .best_ico { background	:#111; color:#fff; }
    /*.JS_tabRolling2 .item_list .num_ico { position:absolute; z-index:10; left:-34px; top:10px; width:27px; line-height:25px; border-bottom:1px solid #999; font-size:13px; font-weight:bold; color:#999; text-align:center; }*/
    .JS_tabRolling2 .item_list .num_ico {position:absolute; z-index:10;width:45px; height:45px; line-height:1em; background:rgba(20,20,20,.9); background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:20px;text-align:center;color:#f6e406;font-weight:bold;} 
    .JS_tabRolling2 .item_list .num_ico:after { counter-increment:chapter; content:counter(chapter)""; }
	.JS_tabRolling2 .item_list .num_ico2 {position:absolute; z-index:10;width:45px; height:45px; line-height:1em; background:#898989; background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:20px;text-align:center;color:#ffffff;font-weight:bold;} 
    .JS_tabRolling2 .item_list .num_ico2:after { counter-increment:chapter; content:counter(chapter)""; }    
/*    .JS_tabRolling2 .item_list .item:hover .num_ico { border-bottom:2px solid #111; color:#111; }*/

    /* 상품정보 */
    .JS_tabRolling2 .item_list > ul .info_wrap { position:absolute; z-index:1; top:1px; left:1px; width:100%; height:100%; background:rgba(0,0,0,.5); background:#aaa \9; font-size:11px; filter:alpha(opacity=0); opacity:0; -webkit-opacity:0; }
    .JS_tabRolling2 .item_list > ul .item:hover .info_wrap { filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0; }
    .JS_tabRolling2 .item_list > ul .info { display:block; position:absolute; top:23%; left:8%; width:85%; color:#fff; }
    .JS_tabRolling2 .item_list > ul .info span { color:#fff !important; font-weight:normal !important; } /* 리스트 텍스트 설정 */
    .JS_tabRolling2 .item_list .name { display:block; max-height:36px; margin:0 auto 10px; letter-spacing:0; line-height:18px; overflow:hidden; }
    .JS_tabRolling2 .item_list > ul .info .line { display:block; height:1px; margin:0 auto 10px; line-height:0; background:rgba(255,255,255,.3); }
    
    /* 그리드 */
    .JS_tabRolling2 .item_list ul.grid1 { float:left; width:420px; margin:0 0 0 80px; }

    .JS_tabRolling2 .item_list ul.grid2 { width:960px; margin:0 25px 0 0; display:inline-table;}
    .JS_tabRolling2 .item_list ul.grid2 .item { width:220px; height:386px;margin-top:18px; margin-right:17.4px; vertical-align:top}


    /* 상품분류 추천상품 */
    .JS_tabRolling2_tit { position:relative; width:100%; margin:0 0 20px; text-align:center; font-size:20px; color:#111; }
    .JS_tabRolling2_tit span { display:block; margin:0 0 3px; text-align:center; font-size:13px; font-weight:400; color:#888; }
    .JS_tabRolling2_tit strong { color:#dd2537; }
    
    
