
    .JS_detailBnr { position:relative; float:right; width:250px; height:500px; overflow:hidden; }
    
    .JS_detailBnr .img { position:relative; width:100%; height:100%; }
    .JS_detailBnr .img li { position:absolute; left:100%; width:100%; height:100%; text-align:center; }
    .JS_detailBnr .img li:first-child { left:0; }
    .JS_detailBnr .img li img { width:100%; }

    
    /* 버튼 */
    .JS_detailBnr .btn { position:absolute; z-index:1; bottom:10px; left:10px; width:100%; text-align:left; font-size:0; letter-spacing:-4px; opacity:0; -webkit-opacity:0; transition:all .5s ease; -webkit-transition:all .5s ease; }
    .JS_detailBnr:hover .btn { opacity:1.0; -webkit-opacity:1.0; }
    .JS_detailBnr .btn li { display:inline-block; *display:inline; *zoom:1; width:6px; height:6px; margin:0 2px; border-radius:10px; background:#aaa; cursor:pointer; font-size:0; background:#aaa; transition:width .3s ease; -webkit-transition:width .3s ease; }
    .JS_detailBnr .btn li.on { width:12px; height:6px; background:#111; }

    /* 화살표 */
    .JS_detailBnr .arrow_wrap { position:absolute; z-index:10; top:0; right:0; width:30px; height:0; cursor:pointer; opacity:0; -webkit-opacity:0; transition:all .3s ease; -webkit-transition:all .3s ease; }
    .JS_detailBnr:hover .arrow_wrap { opacity:1; -webkit-opacity:1; }

    .JS_detailBnr .arrow { position:absolute; width:30px; height:30px; transition:all .3s ease; -webkit-transition:all .3s ease; }

    .JS_detailBnr .prev { top:-5px; right:30px; background:url('/_wg/img/arrowLW_21.gif') no-repeat 50% 50% rgba(0,0,0,.2); }
    .JS_detailBnr:hover .prev { top:0px; }
    .JS_detailBnr .prev:hover { background:url('/_wg/img/arrowLW_21.gif') no-repeat 50% 50% rgba(0,0,0,.4); }

    .JS_detailBnr .next { top:-5px; background:url('/_wg/img/arrowRW_21.gif') no-repeat 50% 50% rgba(0,0,0,.2); }
    .JS_detailBnr:hover .next { top:0px; }
    .JS_detailBnr .next:hover { background:url('/_wg/img/arrowRW_21.gif') no-repeat 50% 50% rgba(0,0,0,.4); }

    /* 1265px 이하 */
    @media all and (max-width:1265px){
        .JS_detailBnr { display:none; }
    }
