
/** 상단 메뉴 **/
    #JS_topMenu2 { position:relative; z-index:10; float:left; font-family:'Nanum Gothic'; }
    #header_01.fixed #JS_topMenu2 { margin:0 0 0 50px; transition-delay:.5s; -webkit-transition-delay:.5s; }
    #JS_topMenu2 a { display:block; text-decoration:none; }

    #JS_topMenu2 .d1 { position:relative; float:left; background:url("/_wg/img/bar_ddd.gif") 0 17px no-repeat; }
    #JS_topMenu2 .d1:first-child { background:none; }
    #JS_topMenu2 .d1 > a { height:39px; line-height:39px; padding:0 7px 0 9px; border-top:1px solid #fff; font-size:11px; color:#333/*마우스아웃 메뉴컬러*/; letter-spacing:0.08em; transition:all .3s ease; -webkit-transition:all .3s ease; }
    #JS_topMenu2 .d1 > a:hover,
    #JS_topMenu2 .d1.on > a { border-top:1px solid #111; font-weight:bold; color:#000; }
    #JS_topMenu2 i { position:relative; top:2px; margin:0 3px 0 0; font-size:14px; }

    #JS_topMenu2 .d2_wrap { display:none; position:absolute; top:40px; left:50%; margin:0 0 0 -58%; padding:7px 0; border:1px solid #ddd; background:#fff; }
    #JS_topMenu2 .d2_wrap .d2 { position:relative; display:block; }
    #JS_topMenu2 .d2_wrap .d2:first-child > a { border-top:none; }
    #JS_topMenu2 .d2_wrap .d2 > a { height:25px; line-height:25px; margin:0 10px; padding:0 12px; border-top:1px solid #eee; color:#555; font-size:11px; white-space:nowrap; }
    #JS_topMenu2 .d2_wrap .d2 > a:hover,
    #JS_topMenu2 .d2_wrap .d2.on > a { background:#f4f4f4; color:#111; }
    /*
    #JS_topMenu2 .d2_wrap .d2.arrow > a{background:url('images/arrow.png') no-repeat 90% center #ffffff}
    #JS_topMenu2 .d2_wrap .d2.arrow.on > a{background:url('images/arrow_on.png') no-repeat 90% center #8b0000}
    */
    
    #JS_topMenu2 .d3_wrap { display:none; position:absolute; top:5px; left:90px; width:100px; padding:7px 0; border:1px solid #ddd; background:#fff; }
    #JS_topMenu2 .d3_wrap li { display:block; }
    #JS_topMenu2 .d3_wrap li:first-child { }
    #JS_topMenu2 .d3_wrap li a { height:22px; padding:0 0 0 10px; line-height:23px; color:#555; font-size:11px; }
    #JS_topMenu2 .d3_wrap li a:hover,
    #JS_topMenu2 .d3_wrap li.on a { background:#f4f4f4; color:#111; }


    /* 멀티쇼핑몰 */
    #JS_topMenu2 ._multishop img { position:relative; top:13px; margin:0 7px 0 0; }
	#JS_topMenu2 ._multishop > .d2_wrap { z-index:10; width:160px!important; }
    #JS_topMenu2 ._multishop > .d2_wrap > li.selected { background:url('/_wg/img/dot_notice.gif') no-repeat 15px 9px; }
	#JS_topMenu2 ._multishop > .d2_wrap a img { top:5px!important; left:5px; }
	#JS_topMenu2 ._multishop > .d2_wrap .name { display:inline-block; width:70px; }
	#JS_topMenu2 ._multishop > .d2_wrap .unit { display:inline-block; width:25px; font-size:10px; }
    #JS_topMenu2 ._multishop > .d2 > a { padding:0 10px 0 20px; }