    
    .brand { display:block; padding:20px 3%; }
    .brand .section { margin:0 0 50px; }
    .brand .section:after { content:""; display:block; *zoom:1; clear:both; }
    .brand .section h4 { margin:0 0 10px 2%; font-size:15px; font-weight:bold; color:#111; }
    .brand .section .line { display:block; width:15px; height:1px; margin:0 0 15px 2%; border-bottom:1px solid #bbb; line-height:0; }
    .brand .section p { float:left; width:33.33%; margin:0 0 10px; }
    .brand .section p a { display:block; line-height:20px; color:#555; font-size:12px; text-indent:6%; }