
/** 상품리스트 **/
    .ec-base-product { position:relative; margin:0 0 50px; }
    .ec-base-product h3 { position:relative; margin:0 auto 30px; text-align:center; font-size:17px; color:#111; }
    .ec-base-product h3 span { display:block; margin:0 0 3px; text-align:center; font-size:13px; font-weight:400; color:#888; }
    .ec-base-product h3 .line { width:8%; height:0px; margin:18px auto; border-top:1px solid #111; line-height:0; }
    .ec-base-product h4 { display:blcok; padding:0 0 10px; margin:0 10px 20px; border-bottom:1px solid #555; font-size:15px; text-align:center; }

    .ec-base-product img { max-width:100%; }
    .ec-base-product > ul { padding:15px 0 0; }
    .ec-base-product li { vertical-align:top; }


    /** 일반 진열 **/
    .ec-base-product [class*="grid"] { display:table; table-layout:fixed; width:100%; box-sizing:border-box; padding:0 5px; font-size:0; line-height:0; }
    .ec-base-product [class*="grid"] > li { display:inline-block; margin:0 0 30px; vertical-align:top; text-align:center; font-size:12px; line-height:1.4; }

    .ec-base-product .thumbnail { position:relative; margin:0 7px 10px; }
    .ec-base-product .thumbnail a { display:block; }
    .ec-base-product .thumbnail a img { display:block; width:100%; vertical-align:top; }
    .ec-base-product .description { width:88%; min-height:10px; margin:0 auto; line-height:1em; text-align:center; }
    .ec-base-product .description > ul > li { margin:0 0 5px; }
    .ec-base-product .description .color { overflow:hidden; width:100%; text-align:center; font-size:0; }
    .ec-base-product .description .chips { display:inline-block; width:10px; height:3px; margin:0 2px 10px 2px; padding:0; }
    .ec-base-product .description .chips:first-child { margin:0 -2px 10px 0; }
    .ec-base-product .description .name { line-height:1.2em; word-wrap:break-word; margin:0 0 5px; }
    .ec-base-product .description .line { width:18px; height:0px; margin:0 auto 10px; border-top:1px solid #111; line-height:0; }
    .ec-base-product .description .icon { margin:10px 0 3px; }
    .ec-base-product .description .icon img { max-height:12px; margin:0 2px; }
    .ec-base-product .description .button { margin:0; padding:0; }
    .ec-base-product .description .button span { display:inline-block; width:28px; height:28px; }
    .ec-base-product .description .button img { width:100%; }
    /* 꾸미기 아이콘 */
    .ec-base-product .thumbnail .prdIcon { position:absolute; z-index:10; top:2%; left:-4%; width:100%; height:100%; background-repeat:no-repeat; background-size:35% auto; }


    /** 갤러리 진열 **/
    .ec-base-product.gallery [class*="grid"] { width:92%; margin:0 auto; padding:0; }
    .ec-base-product.gallery [class*="grid"] > li { margin:0 0 20px; border:1px solid #eee; }

    .ec-base-product.gallery .thumbnail { margin:0 0 10px; }
    .ec-base-product.gallery .description { display:block; padding:10px; text-align:left; }
    .ec-base-product.gallery .description .line { margin:0 0 10px; }
    /* 꾸미기 아이콘 */
    .ec-base-product .grid1 .thumbnail .prdIcon { top:2%; left:-2.6%; background-size:20% auto; }
    /* 할인율 아이콘 */
    .ec-base-product .discount_rate { top:-4px; right:-4px; width:50px; height:50px; line-height:52px; font-size:18px; }
    .ec-base-product .discount_rate span { font-size:13px; }



    /* 할인기간 레이어 */
    .ec-base-product .layerDiscountPeriod { display:none; position:absolute; z-index:100; left:0; width:100%; padding:11px 7px; box-sizing:border-box; }
    .ec-base-product .layerDiscountPeriod .inner { border:1px solid #353535; background:#f1f1f1; border-radius:4px; }
    .ec-base-product .layerDiscountPeriod .inner h3 { padding:10px 14px; font-size:14px; background-color:#353535; color:#fff; }
    .ec-base-product .layerDiscountPeriod .inner .timeleft { padding:14px; color:#508bed; font-size:13px; font-weight:bold; text-align:center; }
    .ec-base-product .layerDiscountPeriod ul { margin:0 7px 14px; padding:0; border:1px solid #d5d5d5; background:#fff; }
    .ec-base-product .layerDiscountPeriod ul li { position:relative; padding:14px 13px 14px 100px; border-top:1px solid #ececec; color:#353535; }
    .ec-base-product .layerDiscountPeriod ul li:first-child { border-top:0; }
    .ec-base-product .layerDiscountPeriod ul li span { position:absolute; top:14px; left:13px; color:#757575; }
    .ec-base-product .layerDiscountPeriod .btnClose { position:absolute; top:8px; right:4px; display:block; width:40px; height:40px; text-indent:-9999px; font-size:0; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_close_white.png") center center no-repeat; background-size:50% 50%; }
    
    /* 썸네일 아이콘 위치 */
    .ec-product-bgLT { background-position:left top; }
    .ec-product-bgLC { background-position:left center; }
    .ec-product-bgLB { background-position:left bottom; }
    .ec-product-bgRT { background-position:right top; }
    .ec-product-bgRC { background-position:right center; }
    .ec-product-bgRB { background-position:right bottom; }
    .ec-product-bgCT { background-position:center top; }
    .ec-product-bgCC { background-position:center center; }
    .ec-product-bgCB { background-position:center bottom; }
     
    /* grid */
    .ec-base-product .grid1 > li { width:100%; }
    .ec-base-product .grid2 > li { width:50%; }
    .ec-base-product .grid3 > li { width:33.333%; }
    .ec-base-product .grid4 > li { width:25%; }
    .ec-base-product .grid5 > li { width:20%; }
     
    @media all and (max-width:480px) {
      .ec-base-product .prdList.grid1 > li { width:100%; }
      .ec-base-product .prdList.grid2 > li { width:50%; }
      .ec-base-product .prdList.grid3 > li { width:33.333%; }
      .ec-base-product .prdList.grid4 > li { width:25%; }
      .ec-base-product .prdList.grid5 > li { width:20%; }
     
      .ec-base-product .grid1 li .name { font-size:15px; }
      .ec-base-product .grid2 li .name,
      .ec-base-product .grid3 li .name { font-size:13px; }
      .ec-base-product .grid4 li .name { font-size:11px; }
    }
     
    @media all and (min-width:481px) and (max-width:767px) {
      .ec-base-product .prdList.grid1 > li { width:45%; margin:0 1.5% 30px 2.5%; }
      .ec-base-product .prdList.grid2 > li { width:33.333%; }
      .ec-base-product .prdList.grid3 > li,
      .ec-base-product .prdList.grid4 > li,
      .ec-base-product .prdList.grid5 > li { width:25%; }
     
      .ec-base-product [class*="grid"] li .name { font-size:13px; }
    }
     
    @media all and (min-width:768px) {
      .ec-base-product .prdList.grid1 > li { width:45%; margin:0 1.5% 30px 2.5%; }
      .ec-base-product .prdList.grid2 > li { width:25%; }
      .ec-base-product .prdList.grid3 > li,
      .ec-base-product .prdList.grid4 > li,
      .ec-base-product .prdList.grid5 > li { width:20%; }
     
      .ec-base-product [class*="grid"] li .name { font-size:15px; }
    }
   



    /* 상품분류 - 추천상품 */
    .xans-product-listrecommend { margin:0 0 20px; }
    .xans-product-listrecommend h2 { position:relative; text-align:center; }
    .xans-product-listrecommend h2 strong { color:#dd2537; }
    .xans-product-listrecommend h2 span { display:inline-block; margin:15px 0; text-align:center; font-size:15px; font-weight:400; color:#333; letter-spacing:0.08em; }
    .ec-base-product.-best ul > li > span { color:#555 !important; }