    
    #footer { position:relative; display:block; border-top:1px solid #333; background:#fff; font-size:12px; line-height:1.5em; color:#333; font-weight:200; }
    #footer .footer_inner { display:block; padding:0 20px; }

    /* 공통 */
    #footer ._section { display:block; clear:both; padding:20px 0; border-bottom:1px solid #ddd; }
    #footer h4 { margin:0 0 15px; font-size:16px; color:#111; font-weight:400; }
    #footer .line { width:15px; height:0; margin:0 0 20px !important; border-bottom:1px solid #ccc; }
    #footer p { color:#333; }
    #footer p:after { content:""; display:block; clear:both; *zoom:1; }
    #footer p strong { display:inline-block; width:20%; font-weight:500; color:#111; }
    #footer i { position:relative; top:1px; }
    #footer .gap { margin:0 0 20px; }

    /* 하단메뉴 */
    #footer .footerMenu { padding:5px 0; }
    #footer .footerMenu:after { content:""; display:block; clear:both; *zoom:1; }
    #footer .footerMenu ul { font-size:0; }
    #footer .footerMenu li { display:inline-block; width:25%; text-align:center; }
    #footer .footerMenu li a { display:block; line-height:30px; font-size:12px; letter-spacing:-0.04em; color:#111; }

    /* 콜센터 */
    #footer .footer_info { }
    #footer .footer_info .phone { margin:0 0 15px; font-size:22px; font-weight:700; }
    #footer .footer_info .phone img { position:relative; top:-2px; width:22px; }
    #footer .footer_info strong { padding-right:10px; color:#333; }

    #footer .footer_info .btn { width:100%; height:35px; margin:20px 0 0; }
    #footer .footer_info .btn a { float:right; width:46%; height:35px; line-height:37px; background:#fff; border:1px solid #ddd; font-size:13px; letter-spacing:0.05em; color:#333; text-align:center; }
    #footer .footer_info .btn a.call { float:left; margin:0 5% 0 0; background:#333; border:1px solid #111; color:#fff; }

    /* 은행정보 */
    #footer .footer_bank { }
    #footer .footer_bank li { min-height:0; letter-spacing:0.1em; }
    #footer .footer_bank strong { display:block; float:left; width:90px; min-height:0; line-height:20px; font-weight:bold; }
    #footer .footer_bank span { min-height:0; line-height:20px; }
    #footer .footer_bank .bank_list { width:170px; margin:10px 0 0; }

    /* 하단회사정보 */
    #footer .footer_delivery h4 { margin:0 0 7px; }

    /* 하단회사정보 */
    #footer .footer_company { }
    #footer .footer_company a { color:#555; text-decoration:none; }
    #footer .footer_company strong { width:40%; }
    #footer .footer_company span { display:block; float:right; width:60%; }
    
    /* 에스크로 */
    #footer .footer_escrow { line-height:1.8em; border-bottom:none; }
    #footer .footer_escrow .v_escrow1 { padding:3px 7px; border-radius:3px; -webkit-border-radius:3px; background:#888; color:#fff; }
    #footer .footer_escrow .btn_11_ff { display:block; line-height:30px; margin:5px 0 0; }

    /* 하단 아이콘 */
    #footer .footerIco { margin:0 0 20px; padding:0 8px; text-align:center; }
    #footer .footerIco li { display:inline-block; width:18%; margin:0 .3%; font-size:0; }
    #footer .footerIco li img { width:100%; }
    
    /* 카피라이터 */
    #footer .copyright { display:block; clear:both; padding:8px 0 5px; background:#111; text-align:center; line-height:18px; color:#fff; font-size:11px; }
    #footer .copyright strong,
    #footer .copyright a { color:#fff; }


    
    /* 스크롤시 나타나는 TOP버튼 */
    #back_top_wrap { position:fixed; z-index:300; top:0; right:0; width:0; height:0; z-index:300; }
    #back_top { position:fixed; bottom:55px; right:-45px; width:45px; height:35px; padding:10px 0 0; border-radius:5px; background:rgba(0,0,0,.1); font-size:22px; text-align:center; cursor:pointer; opacity:0; -webkit-opacity:0;
        transition:all .5s ease; -webkit-transition:all .5s ease;
    }
    #back_top_wrap.fixed #back_top { right:10px; opacity:1.0; -webkit-opacity:1.0; }

        /**검색**/

body.sLightBox {
    overflow: hidden;
}

#d_sLightBox_win {
	display:none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#d_sLightBox_win .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.80);
}

#d_sLightBox_win .inner {
    position: relative;
    top: 5%;
    left: 50%;
    width: 0;
    height: 90%;
}

#d_sLightBox_win .inner .title {
    margin-top: 20px;
    font-size: 18pt;
    font-weight: 600;
    color: #fff;
    width: 40%;
}

#d_sLightBox_win .inner .titleLine {
	width: 62%;
    height: 1px;
    border-bottom: 1px solid #fff;
    float: right;
    margin-top: -8px;
}

#d_sLightBox_win .inner .top_keyword{margin:15px 0 30px 0;}
#d_sLightBox_win .inner .top_keyword ul{ clear:both;font-size:0;}
#d_sLightBox_win .inner .top_keyword li{ font-size: 18px;font-weight:400;display: inline-block;line-height:35px;height:35px;margin-right:17px}
#d_sLightBox_win .inner .top_keyword li a{color:#fff}
    
#d_sLightBox_win .inner .recomm_keyword{margin-top:15px}
#d_sLightBox_win .inner .recomm_keyword ul{ clear:both;font-size:0;}
#d_sLightBox_win .inner .recomm_keyword li{ font-size: 18px;font-weight:400;display: inline-block;line-height:35px;height:35px;border:2px solid #ddd;margin-right:5px;margin-bottom:7px;padding:0 10px 0 10px;}
#d_sLightBox_win .inner .recomm_keyword li a{color:#fff}


#d_sLightBox_win .inner .iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background: #fff;
}

#d_sLightBox_win .inner .popup {
    display: none;
    height: 100%;
}

#d_sLightBox_win .close {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('/_wg/img/btn_wclose.png') no-repeat;
    background-size:30px;
    text-indent: -9999px;
}

#d_sLightBox_win .close:hover {
    opacity: .5;
}    


.search_section {
    position: relative;
    top: 10px;
    width: 320px;
    margin-left: -160px;
}

.search_section .search_form {
    position: relative;
    border: 3px solid rgba(255,255,255,.9);
}

.search_section .search_form #keyword {
    position: relative;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border: none;
    background: none;
    font-size: 20px;
    color: #000;
    text-indent: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.search_section .search_form:hover #keyword {
    background: rgba(255,255,255,.05);
}

.search_section .search_form #keyword:focus {
    background: rgba(255,255,255,.05);
}

.search_section .search_form input[type=image] {
    position: relative;
    width: 30px;
    height: 30px;
}

.search_section .search_form button {
    width: 30px;
    height: 30px;
    border: 0;
    background: url('/_wg/img/_btn/btn_x_w_150.png') no-repeat center;
    background-size: 40px 40px;
    font-size: 0;
}

.JS_hotKeyword {
    position: relative;
    width: 300px;
    margin: 20px 0 0;
}

.JS_hotKeyword .DB_mask {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.JS_hotKeyword .DB_mask .DB_imgSet {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.JS_hotKeyword .DB_mask .DB_imgSet li {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

.JS_hotKeyword .DB_mask .DB_imgSet li a {
    display: block;
    font-size: 25px;
    color: #aaa;
    text-align: center;
    font-family: FontNSR;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.JS_hotKeyword .DB_mask .DB_imgSet li a:hover {
    color: #fff;
    text-decoration: none;
}

.JS_hotKeyword .DB_prevBtn {
    display: none;
    position: absolute;
    top: 12px;
    right: 14px;
    cursor: pointer;
}

.JS_hotKeyword .DB_nextBtn {
    display: none;
    position: absolute;
    top: 12px;
    right: 0px;
    cursor: pointer;
}
    