
    .JS_mainBnr { position:relative; margin:0 0 50px; }
    .JS_mainBnr .img { position:relative; overflow:hidden; }
    .JS_mainBnr .img li { position:absolute; left:0; top:0; width:100%; }
    .JS_mainBnr .img li img { width:100%; }

    /* 버튼 */
    .JS_mainBnr .btn { display:none; position:absolute; width:100%; bottom:-25px; text-align:center; }
    .JS_mainBnr .btn li { display:inline-block; width:7px; height:7px; line-height:7px; margin:0 3px; background:#aaa; border-radius:100%; -webkit-border-raidus:100%; transition:all .3s ease; -webkit-transition:all .3s ease; text-indent:-9999px/*번호생략*/; }
    .JS_mainBnr .btn li.on { background:#111; color:#fff; }

    /* 화살표 */
    .JS_mainBnr .arrow { display:none; position:absolute; top:50%; margin-top:-35px; cursor:pointer; transition:all .5s ease; -webkit-transition:all .5s ease; }
    .JS_mainBnr .arrow.prev { left:-20px; width:70px; height:70px; background:url('/_wg/img/btn_arrow_left_27_w.gif') no-repeat 50% 50%; background-color:rgba(0,0,0,.2); opacity:0; -webkit-opacity:0; }
    .JS_mainBnr:hover .arrow.prev { left:0; opacity:1.0; -webkit-opacity:1.0; }
    .JS_mainBnr .arrow.next { right:-20px; width:70px; height:70px; background:url('/_wg/img/btn_arrow_right_27_w.gif') no-repeat 50% 50%; background-color:rgba(0,0,0,.2); opacity:0; -webkit-opacity:0; }
    .JS_mainBnr:hover .arrow.next { right:0; opacity:1.0; -webkit-opacity:1.0; }
