    
    .xans-product-normalmenu { overflow:hidden; padding:10px 10px 20px; }
    .xans-product-normalmenu .sort { float:left; }
    .xans-product-normalmenu .sort select { height:31px; max-width:150px; border:1px solid #ddd; border-radius:0; }
    
    .xans-product-normalmenu .viewType { float:right; font-size:0; }
    .xans-product-normalmenu .viewType { border-radius:4px; -webkit-border-radius:4px; }
    .xans-product-normalmenu .viewType li { display:inline-block; width:31px; height:31px; border:1px solid #ddd; border-right:0; background-size:50%; background-repeat:no-repeat; background-position:center; }
    .xans-product-normalmenu .viewType li:last-child { border-right:1px solid #ddd; }
    .xans-product-normalmenu .viewType li.selected { background-color:#ddd; border-color:#ddd; }
    .xans-product-normalmenu .viewType li a { display:block; height:100%; }

    .xans-product-normalmenu .viewType li.thumb { background-image:url("/_wg/img/ico_thumb.png"); }
    .xans-product-normalmenu .viewType li.gallery { background-image:url("/_wg/img/ico_gallery.png"); }
    .xans-product-normalmenu .viewType li.selected.thumb { background-image:url("/_wg/img/ico_thumb_on.png"); }
    .xans-product-normalmenu .viewType li.selected.gallery { background-image:url("/_wg/img/ico_gallery_on.png"); }
