    
/** 탭상품롤링 **/
    .swiper_tab1 { position:relative; width:100%; margin-bottom:50px; border-top:2px solid #111; border-bottom:1px solid #ccc; }
    
    /* 버튼 */
    .swiper_tab1_btn a { position:relative; display:block; float:left; width:33.33%; height:35px; line-height:36px; margin:0 0 15px; background:url('/_wg/img/bg_slash.gif') #f4f4f4; border-bottom:1px solid #ddd; text-align:center; font-size:11px; text-decoration:none; letter-spacing:-0.05em; transition:background .3s ease; overflow:hidden; }
    .swiper_tab1_btn a.on { border-bottom:1px solid #fff; background:#fff; font-weight:bold; }
    .swiper_tab1_btn a span { display:block; color:#999; border-right:1px solid #ddd; transition:color .3s ease; }
    .swiper_tab1_btn a.on span { display:block; color:#111; border-left:none; border-right:1px solid #ddd; }
    .swiper_tab1_btn a:first-child.on span { border-left:0; }
    .swiper_tab1_btn a:last-child.on span { border-right:0; }
    
    /* 내용 */
    .swiper_tab1_container { background:#fff; }
    .swiper_tab1_container > li { float:left; }

    .swiper_tab1_container .item_list { display:block; padding:0 3%; font-size:0; line-height:0; letter-spacing:-4px; }
    .swiper_tab1_container .item_list .item { display:inline-block; width:50%; margin:0 0 20px; font-size:11px; line-height:14px; letter-spacing:-0.04em; vertical-align:top; }
    .swiper_tab1_container .item_list .thumbnail { position:relative; width:90%; margin:0 auto 10px; }
    .swiper_tab1_container .item_list .thumbnail .thumb { width:100%; }

    .swiper_tab1_container .item_list .description { position:relative; width:88%; margin:0 auto; text-align:center; }
    .swiper_tab1_container .item_list .name { margin:0 0 4px; color:#555; }
    .swiper_tab1_container .item_list .custom { font-size:11px; color:#888; font-weight:normal; }
    .swiper_tab1_container .item_list .price { font-size:12px; font-weight:bold; color:#333; }


    .swiper_tab1_container .item_list ul { counter-reset:rankup 0; }
    .swiper_tab1_container .best_ico { position:absolute; left:10px; top:10px; width:40px; height:22px; border-top:1px solid #111; border-bottom:1px solid #111; background:rgba(255,255,255,.7); font-size:13px; font-weight:bold; color:#111; line-height:24px; text-align:center; }
    .swiper_tab1_container ul .num_ico { position:absolute; z-index:10; left:10px; top:10px; width:20px; height:22px; border-top:1px solid #111; border-bottom:1px solid #111; background:rgba(255,255,255,.7); font-size:12px; font-weight:bold; color:#111; line-height:24px; text-align:center; }
    .swiper_tab1_container ul .num_ico:after { counter-increment:rankup 1; content:counter(rankup)''; }
