
    .TS_bnr_02 { position:relative; margin:0 auto; }
    .TS_bnr_02 .img { position:relative; overflow:hidden; }
    .TS_bnr_02 .img li { position:absolute; left:0; top:0; width:100%; }
    .TS_bnr_02 .img li img { width:100%; }

    /* 버튼 */
    .TS_bnr_02 .btn { display:none; position:absolute; left:5px; width:100%; bottom:0; text-align:left; }
    .TS_bnr_02 .btn li { display:inline-block; width:7px; height:7px; line-height:7px; margin:0 0 0 5px; background:#aaa; border-radius:10px; -webkit-border-raidus:10px; transition:all .3s ease; -webkit-transition:all .3s ease; text-indent:9999px/*번호생략*/; }
    .TS_bnr_02 .btn li.on { width:13px; background:#111; color:#fff; }



    /* 유튜브만 풀화면으로 사용시 */
    .embed-container { position: relative; margin:0 1%; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width:100%; }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }