@charset "utf-8";

/* 마이페이지 */
.myinfoWrap {padding:50px 0 100px 0;}


/* 타이틀 */
.subMainTitle {padding:40px 0 0 0;background:none;font-size:24px;letter-spacing:-0.05em;}

.noticeTitle:after {content:'';display:block;clear:both;}
.noticeTitle {margin-bottom:30px;text-align:center;}
.noticeTitle h3 {padding:0;background:none;font-size:42px;letter-spacing:-0.05em;}
.noticeTitle .info {font-size:14px;color:#666;}
.noticeTitle .title {float:left;font-weight:600;font-size:28px;letter-spacing:-0.05em;}
.noticeTitle .date {float:right;margin-top:12px;font-size:14px;color:#666;}

/* 기본탭 */
.boardTab {}
.boardTab .tabBox:after {content:'';display:block;clear:both;}
.boardTab .tabBox {}
.boardTab .tabBox a {
	float:left;
	width:50%;height:50px;line-height:50px;
	text-align:center;
	/*border:1px solid #ddd;*/border-bottom:1px solid #333;background:#f8f8f8;
	font-size:16px;color:#999;letter-spacing:-0.025em;
	box-sizing:border-box;
}
.boardTab .tabBox a:hover {text-decoration:none;}
.boardTab .tabBox a.on {border:1px solid #333;border-top:2px solid #333;border-bottom:0 none;background:#fff;font-weight:600;font-size:16px;color:#333;text-decoration:none;}
.myinfoWrap .tabContentBox {padding:70px 0 0;}
.centerWrap .tabContentBox {padding:50px 0 0;}

.boardTab .tabBox.tab3 a {width:33.33333333333333%;}
.boardTab .tabBox.tab4 a {width:25%;}
.boardTab .tabBox.tab5 a {width:20%;}

/* 페이지탭 */
.boardTab {}
.boardTab:after {content:'';display:block;clear:both;}
.boardTab a:first-child {border-left:1px solid #ddd;}
.boardTab a {
	float:left;
	width:50%;height:50px;line-height:50px;
	text-align:center;
	/*border:1px solid #ddd;*/border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #333;background:#f8f8f8;
	font-size:16px;color:#999;letter-spacing:-0.025em;
	box-sizing:border-box;
}
.boardTab a:hover {text-decoration:none;}
.boardTab a.on {border:1px solid #333;border-top:2px solid #333;border-bottom:0 none;background:#fff;font-weight:600;font-size:16px;color:#333;}
.centerWrap .contentBox {padding:50px 0 0;}

.boardTab.tab3 a {width:33.33333333333333%;}
.boardTab.tab4 a {width:25%;}
.boardTab.tab5 a {width:20%;}


/* 하단버튼 */
.buttonCenterBox {margin-top:100px;text-align:center;}
.buttonCenterBox .btnLineBottom {padding:0 20px;width:180px;height:50px;border-radius:0.2em;border:1px solid #333;background:#fff;;font-weight:600;font-size:16px;}
.buttonCenterBox .btnGrayBottom {padding:0 20px;width:180px;height:50px;border-radius:0.2em;background:#333;font-weight:600;font-size:16px;color:#fff;}
.buttonCenterBox .btnW315 {width:315px;}

/* 버튼 */
.btnCenterBox {margin-top:20px;text-align:center;}
.btnCenterBox a,.btnCenterBox button {margin-left:5px;}
.btnLineMedium {min-width:180px;height:50px;border-radius:0.2em;border:1px solid #333;background:#fff;;font-weight:600;font-size:18px;}
.btnOrangeMedium {min-width:180px;height:50px;border-radius:0.2em;border:1px solid #ee7421;background:#ee7421;font-weight:600;font-size:18px;color:#fff;}

/* 테이블내버튼 */
.btnGrayTable {padding:0 18px;height:28px;border-radius:0.2em;background:#333;font-weight:600;color:#fff;}

/* 포인트칼라 */
.point {color:#ee401e;}

/* 아이콘 */
.icoStar {display:inline-block;margin-right:2px;width:5px;height:5px;line-height:8px;background:url('../images/icon/ico_star.png') no-repeat 0 0;text-indent:-9999px;}
.icoNew {display:inline-block;margin-left:2px;width:14px;height:14px;background:url('../images/icon/ico_new.png') no-repeat 0 0;text-indent:-9999px;}
.icoPoint {display:inline-block;margin-left:2px;width:14px;height:14px;background:url('../images/icon/ico_point.png') no-repeat 0 0;text-indent:-9999px;}

/* 체크박스 */
/*.checkBox,.radioBox {display:inline-block;margin-right:10px;}*/
label.css-label {
	background-image:url(../images/common/ico_check.png);
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	/*user-select:none;*/
}
input[type=checkbox].inputCheckbox {overflow:hidden;position:absolute;left:0;top:0;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);z-index:-1000;/*opacity:0.001;filter:alpha(opacity = 0.1%);*/ visibility:hidden;}
input[type=checkbox].inputCheckbox + label.css-label {
	display:inline-block;padding-left:34px;min-width:24px;min-height:24px;
	background-repeat:no-repeat;
	background-position:0 0;
	vertical-align:middle;
	cursor:pointer;
	line-height:1.5;
}
input[type=checkbox].inputCheckbox:checked + label.css-label {background-position:0 -26px;}
input[type=checkbox].css-checkbox-disable + label.css-label-disable {background-position:0 -26px;cursor:default;}


/* 테이블타이틀 */
.tblTitleBox:after {content:'';display:block;clear:both;}
.tblTitleBox {margin-bottom:15px;}
.tblTitleBox .alignLeft {float:left;margin-top:10px;}
.tblTitleBox .tblInfo {}
.tblTitleBox .tblCnt {font-size:14px;}
.tblTitleBox .tblCnt strong {font-weight:600;}
.tblTitleBox button {float:right;}

/* 테이블 입력타입 */
.tblBoardView {width:100%;border-top:1px solid #ddd;}
.tblBoardView tr th,.tblBoardView tr td {padding:11px 18px 10px;min-height:28px;border-bottom:1px solid #ddd;}
.tblBoardView th {text-align:left;background:#f3f3f3;font-size:14px;}
.tblBoardView td {border-left:1px solid #ddd;color:#666;}

/* 테이블 목록타입 */
.tblBoardList {width:100%;text-align:center;border-top:2px solid #333;}
/*.tblBoardList tr th,.tblBoardList tr td {padding:11px 18px 10px;min-height:28px;border-bottom:1px solid #ddd;}*/
.tblBoardList tr th,.tblBoardList tr td {padding:16px 0;min-height:50px;font-size:16px;}
.tblBoardList th {border-bottom:1px solid #333;}
.tblBoardList td {border-bottom:1px solid #ddd;color:#666;}
.tblBoardList td.txtLeft {padding:16px 18px;text-align:left;}
.tblBoardList tr.all td {background:#f8f8f8;font-weight:600;color:#333;}
.tblBoardList .cont {display:inline-block;margin-right:8px;max-width:500px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/* 테이블 팝업 라인타입 */
.tblLineListType {width:100%;}
.tblLineListType tr th:first-child,.tblLineListType tr td:first-child {border-left:0 none;}
.tblLineListType th,.tblLineListType td {border-left:1px solid #ddd;}
.tblLineListType th {border-bottom:1px solid #ddd; border-top:1px solid #aaa; line-height:43px; font-size:14px; color:#333; font-weight:600; background:#f8f8f8;}
.tblLineListType td {padding:15px 10px;text-align:center;border-bottom:1px solid #ddd;}

/* 공시사항/FAQ 검색 */
.boardSearchBox {padding:30px;border:1px solid #eee;background:#fafafa;}
.boardSearchBox .srchBox {margin:0 auto;width:344px;}

/* [팝업] 안내 */
.popWrap h3 {padding-left:10px;background:url('../images/bul_set.png') no-repeat 0 -141px;}
.titleBox:after {content:'';display:block;clear:both;}
.titleBox {margin:20px 0 10px;}
.titleBox h3 {margin:0 0 10px 0;}
.titleBox .info {margin-left:5px;}
.titleBox .popSubTitle {float:left;margin:0 0 10px 0;}
.titleBox .alignRight {float:right;}
.titleBox .alignRight .txtCnt {font-size:13px;color:#666;}

.popInfoBox {}
.popInfoBox p {margin:5px 0 0 13px;line-height:16px;color:#222;letter-spacing:-0.025em;text-indent:-13px}


/* 개인정보변경 */
.myinfoChange {margin:0 auto;width:640px;}
.myinfoWrap .infoBox {text-align:center;}
.myinfoWrap .strInfo:after {content:'';position:absolute;left:50%;top:0;margin:0 0 0 -58px;display:block;width:115px;height:81px;background:url('../images/icon/ico_login_title.png') no-repeat 0 -120px;}
.myinfoWrap .strInfo {position:relative;padding-top:110px;text-align:center;line-height:34px;font-size:24px;letter-spacing:-0.05em;}
.myinfoWrap .strInfo2 {text-align:center;line-height:34px;font-size:24px;letter-spacing:-0.05em;}
.myinfoWrap .infoBox .info {margin-top:15px;font-size:14px;color:#666;letter-spacing:-0.05em;}
.myinfoWrap .addInfo {text-align:center;letter-spacing:-0.025em;}

.myinfoWrap .regBox.type02 {margin-top:40px;padding-top:40px;border-top:3px solid #ebebeb;}
.myinfoWrap input[type=text],.myinfoWrap input[type=password] {width:100%;height:30px;line-height:30px;border:1px solid #ccc;box-sizing:border-box;}

.myinfoWrap .regBox:after {content:'';display:block;clear:both;}
.myinfoWrap .regBox {padding:0 125px;}
.myinfoWrap .regBox .dt {float:left;width:140px;}
.myinfoWrap .regBox .dt label {display:inline-block;margin-top:3px;font-weight:600;font-size:16px;letter-spacing:-0.05em;}
.myinfoWrap .regBox .dd {float:left;width:250px;}
.myinfoWrap .regBox .inputBtn {display:block;position:relative;padding-right:90px;}
.myinfoWrap .regBox .inputBtn .btnConfrm {
	position:absolute;right:0;top:0;
	display:block;width:80px;height:30px;
	border-radius:0.2em;background:#333;
	font-weight:600;font-size:14px;color:#fff;
}
.myinfoWrap .regBox div:after {content:'';display:block;clear:both;}
.myinfoWrap .regBox.type02 div:first-child {margin-top:0;}
.myinfoWrap .regBox.type02 div {margin-top:10px;}

/* 공지사항 */
.noticeContView {
	padding:50px 0;min-height:500px;
	border-top:2px solid #ddd;border-bottom:1px solid #ddd;
	line-height:24px;font-size:15px;color:#666;letter-spacing:-0.05em;
}
.noticeContView p {margin-bottom:20px;}
.noticeContView .imgBox {margin:0 auto 50px;width:500px;overflow:hidden;}
.noticeContView.txtCenter {text-align:center;}

.noticeContView ul,.noticeContView ul li {list-style:disc;}
.noticeContView ol,.noticeContView ol li {list-style:decimal;}
.noticeContView ul,.noticeContView ol {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.btnPaging:after {content:'';display:block;clear:both;}
.btnPaging {position:relative;margin-top:30px;width:100%;}
.btnPaging .prev:after {content:'';position:absolute;left:0;top:-3px;display:block;width:23px;height:23px;border:1px solid #ddd;background:url('../images/arw_set.png') no-repeat -25px -400px;}
.btnPaging .prev {
	float:left;
	position:relative;
	padding:0 0 0 35px;
	font-size:14px;color:#666;
}
.btnPaging .next:after {content:'';position:absolute;right:0;top:-3px;display:block;width:23px;height:23px;border:1px solid #ddd;background:url('../images/arw_set.png') no-repeat -25px -423px}
.btnPaging .next {
	float:right;
	position:relative;
	padding:0 35px 0 0;
	font-size:14px;color:#666;
}
.centerWrap .buttonCenterBox {margin-top:-30px;}
.healthInfoWrap .buttonCenterBox {margin-top:-30px;}

/* FAQ */
.faqMenu {}
.faqMenu ul:after {content:'';display:block;clear:both;}
.faqMenu ul {}
.faqMenu li:first-child,.faqMenu li:nth-child(6),.faqMenu li:nth-child(11) {border-left:1px solid #ddd;}
.faqMenu li {float:left;margin:-1px 0 0 0;width:20%;height:50px;line-height:50px;border:1px solid #ddd;border-left:0 none;box-sizing:border-box;}
.faqMenu li a:after {content:'';position:absolute;right:11px;top:19px;display:block;width:6px;height:11px;background:url('../images/arw_set.png') no-repeat -38px -359px}
.faqMenu li a {position:relative;padding:0 11px 0 15px;display:block;font-weight:600;font-size:15px;letter-spacing:-0.05em;text-decoration:none;}
.faqMenu li a:hover:after,.faqMenu li a.active:after {content:'';position:absolute;right:11px;top:23px;display:block;width:11px;height:6px;background:url('../images/arw_set.png') no-repeat -4px -362px}
.faqMenu li a:hover,.faqMenu li a.active {background:#ee401e;color:#fff;}

.faqListBox {border-top:2px solid #333;}
.faqList {border-bottom:1px solid #ddd;}

.faqListBox .noList {padding:40px 0;text-align:center;border-bottom:1px solid #ddd;font-size:16px;}

.faqList .contTitle {position:relative;display:block;padding:15px 0;}
.faqList .contTitle:after {content:'';position:absolute;right:37px;top:45px;display:block;margin-top:-5px;width:17px;height:10px;background:url('../images/icon/arw_faq.png') no-repeat -30px 0;}
.faqList .contTitle.active:after {background-position:0 0;}
.faqList .contTitle div:after {content:'';display:block;clear:both;}

.faqList .contTitle .num {float:left;margin-right:21px;width:76px;line-height:60px;text-align:center;font-size:16px;color:#666;letter-spacing:-0.05em;}
.faqList .contTitle .icoQ {float:left;width:60px;}
.faqList .contTitle .icoQ em {display:block;margin:0 auto;width:60px;height:60px;line-height:60px;border-radius:30px;background:#f9f9f9;text-align:center;font-family:'arial', sans-serif;font-size:20px;color:#888;}
.faqList .contTitle .quesTitle {float:left;padding:5px 0 0 45px;width:;box-sizing:border-box;}
.faqList .contTitle .quesTitle p {font-size:13px;color:#666;letter-spacing:-0.05em;}
.faqList .contTitle .quesTitle p.title {margin-top:10px;font-weight:600;font-size:16px;color:#333;}
.faqList .contTitle:hover p.title,.faqList .contTitle.active p.title {text-decoration:underline;}

.answerCont:after {content:'';display:block;clear:both;}
.answerCont {display:none;padding:35px 96px;border-top:2px solid #ddd;border-bottom:1px solid #ddd;background:#f8f8f8;}
.answerCont .icoA {float:left;}
.answerCont .icoA em {display:inline-block;width:60px;height:60px;line-height:60px;border-radius:30px;background:#ee401e;text-align:center;font-family:'arial', sans-serif;font-size:20px;color:#fff;}

.answerCont .cont {float:left;padding-left:45px;line-height:24px;font-size:15px;color:#666;}
/*.answerCont .cont p {margin:0 0 10px 0;font-weight:600;font-size:15px;color:#666;}
.answerCont .cont ul li {line-height:24px;font-size:13px;color:#666;}*/

/*
.faqListBox {}
.faqList {border-top:2px solid #333;}
.faqList > li {border-bottom:1px solid #ddd;}
.faqList > li .contTitle div:after {content:'';display:block;clear:both;}
.faqList > li .contTitle:after {content:'';position:absolute;right:37px;top:50%;display:block;margin-top:-5px;width:17px;height:10px;background:url('../images/icon/arw_faq.png') no-repeat 0 0;}
.faqList > li .contTitle {position:relative;display:block;padding:15px 0;}
.faqList > li .contTitle.active:after {background-position:-30px 0;}

.faqList > li .contTitle .num {float:left;margin-right:21px;width:76px;line-height:60px;text-align:center;font-size:16px;color:#666;letter-spacing:-0.05em;}
.faqList > li .contTitle .icoQ {float:left;width:60px;}
.faqList > li .contTitle .icoQ em {display:block;margin:0 auto;width:60px;height:60px;line-height:60px;border-radius:30px;background:#f9f9f9;text-align:center;font-family:'arial', sans-serif;font-size:20px;color:#888;}
.faqList > li .contTitle .quesTitle {float:left;padding:5px 0 0 45px;width:;box-sizing:border-box;}
.faqList > li .contTitle .quesTitle p {font-size:13px;color:#666;letter-spacing:-0.05em;}
.faqList > li .contTitle .quesTitle p.title {margin-top:10px;font-weight:600;font-size:16px;color:#333;}
.faqList > li .contTitle:hover p.title,.faqList > li .contTitle.active p.title {text-decoration:underline;}

.answerCont:after {content:'';display:block;clear:both;}
.answerCont {display:none;padding:35px 96px;border-top:2px solid #ddd;border-bottom:1px solid #ddd;background:#f8f8f8;}
.answerCont .icoA {float:left;}
.answerCont .icoA em {display:inline-block;width:60px;height:60px;line-height:60px;border-radius:30px;background:#ff6c00;text-align:center;font-family:'arial', sans-serif;font-size:20px;color:#fff;}
.answerCont .cont {float:left;padding-left:45px;}
.answerCont .cont p {margin:0 0 10px 0;font-weight:600;font-size:15px;color:#666;}
.answerCont .cont ul li {line-height:24px;font-size:13px;color:#666;}
*/

/* 건강지식 */
.viewControlArea:after {content:'';display:block;clear:both;}
.viewControlArea {margin:30px 0 10px;}
.viewControlArea .alignRight {float:right;}
.viewControlArea .searchBox {float:left;/*position:relative;padding-right:65px;width:265px;box-sizing:border-box;*/}
.viewControlArea .searchBox input {border:1px solid #4f4f4f;}
.viewControlArea .searchBox button {/*position:absolute;right:0;top:0;*/width:60px;height:28px;border-radius:2px;background:#4f4f4f;color:#fff;}
.viewControlArea select {float:left;margin-left:15px;}
.viewControlArea .btnBox {float:left;margin-left:15px;}
.viewControlArea .btnBox button {float:left;height:27px;background:url('../images/common/btn_viewtype.png') no-repeat 0 0;text-indent:-9999px;}
.viewControlArea .btnBox .btnList {width:27px;background-position:0 0;}
.viewControlArea .btnBox .btnImgList{width:26px;background-position:-27px 0;}
.viewControlArea .btnBox .btnList.active {width:27px;background-position:0 -33px;}
.viewControlArea .btnBox .btnImgList.active {width:26px;background-position:-27px -33px;}

/* 건강지식 */
.healthImgListBox {}
.healthImgListBox .healthImgList:after {content:'';display:block;clear:both;}
.healthImgListBox .healthImgList {border-top:1px solid #ddd;}
.healthImgListBox .healthImgList li:nth-child(4),.healthImgListBox .healthImgList li:nth-child(8),.healthImgListBox .healthImgList li:nth-child(12) {margin-right:0;}
.healthImgListBox .healthImgList li {float:left;margin:30px 24px 0 0;width:252px;height:270px;box-sizing:border-box;}
.healthImgListBox .healthImgList li a {display:block;width:252px;height:270px;}
.healthImgListBox .healthImgList li a .imgBox {width:252px;height:170px;overflow:hidden;}
.healthImgListBox .healthImgList li a .imgBox img {max-width:100%;}
.healthImgListBox .healthImgList li a .info {padding:25px;height:100px;text-align:center;border:1px solid #ddd;line-height:24px;font-size:16px;letter-spacing:-0.05em;box-sizing:border-box;}

.healthListBox .healthList {padding-top:10px;border-top:1px solid #ddd;}
.healthListBox .healthList li:after {content:'';display:block;clear:both;}
.healthListBox .healthList li {margin:20px 0;padding:0 0 20px 0;border-bottom:1px solid #ddd;box-sizing:border-box;}
.healthListBox .healthList li .imgBox {float:left;width:252px;height:170px;overflow:hidden;}
.healthListBox .healthList li .imgBox img {max-width:100%;}
.healthListBox .healthList li .info {float:left;padding:70px 0 0 20px;max-width:650px;font-size:16px;line-height:24px;letter-spacing:-0.05em;}
.healthListBox .healthList li .date {float:right;margin-top:70px;font-size:15px;color:#666;letter-spacing:-0.05em;}
.healthListBox .healthList li:last-child {margin:0;}

.healthInfoWrap .noList {padding:200px 0;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:16px;}