@charset "utf-8";


/*//////////////// 카테고리 ///////////////////////////////////*/

/* 카테고리 로케이션 타이틀 */
.cateLocation {position:relative;}
.titLocation {font-size:18px; margin:30px 0 20px 0; color:#333; background:url('../images/bul_set.png') no-repeat 5px -16px; padding-left:15px; height:30px; position:relative;}
.titLocation li {float:left; font-weight:bold;}
.titLocation li .depth {margin-right:25px; position:relative; font-weight:bold; display:inline-block;}
.titLocation li a:hover {color:#000;}
.titLocation li .depth i {display:inline-block; text-indent:-999999px; vertical-align:middle; width:13px; height:13px; background:url('../images/arw_set.png') no-repeat; background-color:#fff; border:1px solid #ccc; position:absolute; right:-23px; top:7px; }
.titLocation li .depth i.arwDown {z-index:32; background-position:-1px -328px; cursor:pointer; }
.titLocation li .depth i.arwUp {z-index:33; background-position:-31px -328px; display:none;}
.titLocation li i.arwDown:hover ,
.titLocation li i.arwUp:hover {border:1px solid #333;}

.titLocation li i.arwNext {width:13px; height:18px; background:url('../images/arw_set.png') no-repeat 0 -824px; text-indent:-999999px; vertical-align:middle; display:block; margin:5px 7px 0 3px;}

.titLocation li + li + li {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; max-width:850px;} /* 기획전 제목 글자제한 */

.layerDepth {position:absolute; background:#fff; border:1px solid #999; width:800px; max-height:210px; overflow-y:auto; z-index:31; display:none;}
.layerDepth1 {top:30px; left:0;}
.layerDepth2 {top:30px; left:0;}
.layerDepth3 {top:30px; right:0;}

.layerDepth ul {background:url('../images/bg_cate.png') repeat-y; position:relative; clear:both; margin:15px 0;}
.layerDepth ul:after {content:""; display:block; clear:both;}
.layerDepth ul li {float:left; font-size:13px; width:179px; padding-left:20px; margin-top:10px;font-weight:normal;}
.layerDepth ul li a {color:#666; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; max-width:170px; display:inline-block; border-bottom:1px solid #fff;}
.layerDepth ul li a:hover , .layerDepth ul li a:focus {color:#ff6c00; border-bottom:1px solid #ff6c00;}
.layerDepth ul li:first-child , .layerDepth li:first-child +li, .layerDepth li:first-child +li+li, .layerDepth li:first-child +li+li+li{margin-top:0;}




/* 카테고리 메뉴 */
.cateMenu {position:relative; clear:both; background:url('../images/bg_cate1.png') repeat-y top right; border-top:1px solid #ddd;}
.cateMenu:after {content:""; display:block; clear:both;}
.cateMenu + .cateMenu2 + .cateMenu {border-top:none;}
.cateMenu li {width:20%; line-height:48px; font-size:15px; float:left;}
.cateMenu li .depth1 {border:1px solid #ddd; position:relative; margin-left:-1px; margin-top:-1px; font-weight:bold;}
.cateMenu li .depth1 a {display:block; padding-left:15px;}
.cateMenu li .depth1 a:hover , .cateMenu li .depth1 a:focus , .cateMenu li .depth1 a.active {position:relative; z-index:6; margin:-1px; line-height:48px; border:1px solid #ff6c00; background:#ff6c00; color:#fff;}
.cateMenu li i {display:inline-block; width:15px; height:15px; vertical-align:middle; position:absolute; right:10px; top:19px; text-indent:-999999px;}
.cateMenu li .depth1 a .arwView {background:url('../images/arw_set.png') no-repeat -30px -357px;}
.cateMenu li .depth1 a.active .arwView , .cateMenu li .depth1 a:hover .arwView , .cateMenu li .depth1 a:focus .arwView  {background:url('../images/arw_set.png') no-repeat 0 -357px;}
.cateMenu li .depth1 a span {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:175px; display:block;}

.cateMenu2 {position:relative; clear:both; background:url('../images/bg_cate2.png') repeat-y top right;}
.cateMenu2:after {content:""; display:block; clear:both;}
.cateMenu2 li {width:20%; line-height:48px; font-size:15px; float:left;}
.cateMenu2 li .depth2 {border:1px solid #ddd; position:relative; margin-left:-1px; margin-top:-1px; background:#f8f8f8;}
.cateMenu2 li .depth2 a {display:block; padding-left:15px;}
.cateMenu2 li .depth2 a:hover , .cateMenu2 li .depth2 a.active {position:relative; z-index:6; margin:-1px; line-height:48px; border:1px solid #ff6c00; color:#ff6c00;}
.cateMenu2 li .depth2 a span {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:190px; display:block;}

.cateMenu2 li .none {display:block; text-indent:-999999px;}



/* 카테고리 메인 배너 슬라이드 */
.cateMainBanner {clear:both; margin-top:30px; padding-top:45px;}
.cateMainBanner .cmbSlider {width:1080px; height:150px !important; overflow: hidden;}
.cateMainBanner .cmbSlider li {height:150px !important; overflow: hidden;}
.cateMainBanner .cmbSlider li img {width:1080px; height:150px; object-fit:cover;}
.cateMainBanner .bx-wrapper .bx-pager {width:100%; height:15px; position:absolute; top:-25px; padding:0; text-align:right;}


/* 카테고리 메인 베스트 슬라이드 */
.cateMainBest {clear:both; padding:25px 0 0 0; position:relative; z-index:1;}
.cateMainBest h2 {margin-bottom:5px;}
.cateMainBest .cbestSlider li {float:left; height:410px;}
.cateMainBest .cbestSlider ul {clear:both; overflow:hidden;}
.cateMainBest .cbestSlider ul li {width:252px;margin-left:24px; float:left;}
.cateMainBest .cbestSlider ul li:first-child {margin-left:0;}
.cateMainBest .cbestSlider ul li img {width:220px; height: 220px;}
.cateMainBest .bx-wrapper .bx-pager {width:100%; height:15px; position:absolute; top:-25px; padding:0; text-align:right;}
.cateMainBest .bx-wrapper .bx-prev {left:1px;}
.cateMainBest .bx-wrapper .bx-next {right:1px;}



.listWrap {margin-top:40px;}
.listWrap .titSearch {font-weight:normal; font-size:14px; color:#666; margin-bottom:15px;}
.listWrap .titSearch em {color:#ff6c00; font-weight:bold;}


/* 리스트 정렬 */
.sortArea {position:relative; clear:both; line-height:28px; margin-top:20px; border-top:1px solid #333; border-bottom:1px solid #ddd; padding:8px 0 10px 0;}
.sortArea:after {content:""; display:block; clear:both;}
.sortArea .sortList {float:left;}
.sortArea .sortList li {float:left; margin-right:15px; font-size:14px; background:url('../images/line_set.png') no-repeat 0 11px; padding-left:15px;}
.sortArea .sortList li:first-child {background:#fff; padding-left:10px;}
.sortArea .sortList a {color:#999; display:block;}
.sortArea .sortList a.active , .sortArea .sortList a:hover , .sortArea .sortList a:focus {font-weight:bold; color:#333;}
.sortArea select {margin-left:7px;}

.sortArea .view {float:right;margin-top:3px;margin-left:15px;}
.sortArea .view li  {float:left;/*margin-right:15px;font-size:14px;background:url('../images/line_set.png') no-repeat 0 11px; padding-left:15px;*/}
/*.sortArea .view li:first-child {background:#fff; padding-left:10px;}*/
.sortArea .view a {display:block;height:27px;background:url('../images/common/btn_viewtype.png') no-repeat 0 0;text-indent:-9999px;/*color:#999;*/}
.sortArea .view a.icnList {width:27px;background-position:0 0;}
.sortArea .view a.icnImg {width:26px;background-position:-27px 0;}
/*.sortArea .view a.active,.sortArea .view a:hover,.sortArea .view a:focus {font-weight:bold; color:#333;}*/
/*.sortArea .view i {margin-right:5px; vertical-align:middle; display:inline-block; width:10px; height:10px;}
.sortArea .view i.icnList {background:url('../images/icn_set.png') no-repeat 0 -150px;}
.sortArea .view i.icnImg {background:url('../images/icn_set.png') no-repeat -25px -150px;}*/
.sortArea .view a.active.icnList,.sortArea .view a:hover.icnList,.sortArea .view a:focus.icnList {background-position:0 -33px;}
.sortArea .view a.active.icnImg,.sortArea .view a:hover.icnImg,.sortArea .view a:focus.icnImg {background-position:-27px -33px;}


/*//////////////// 검색화면 ///////////////////////////////////*/

.shKeywordTit {font-size:18px; color:#333; margin:30px 0 20px 0; padding-left:20px;}
.shKeywordTit em {font-weight:bold; color:#ff6c00; word-break: break-all;}

/* 기획전 검색결과 */
.shEventBox {clear:both; position:relative; margin-top:50px; margin-bottom:100px; padding-bottom:20px;}
.shEventBox .tit {background:#f8f8f8; line-height:50px; border:1px solid #ddd; padding-left:30px; font-size:18px; font-weight:bold;}
.shEventBox .tit small {font-size:14px; color:#666;}
.shEventBox .tit strong {font-weight:bold; color:#333;}

.shEventBox .eventList {position:relative; clear:both; border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; padding:17px 0;}
.shEventBox .eventList:after {content:""; display:block; clear:both;}
.shEventBox .eventList li {width:33.333%; float:left;}
.shEventBox .eventList li a {font-size:15px; color:#666; background:url('../images/bul_set.png') no-repeat 0 -34px; display:block; padding-left:10px; margin-left:15px; line-height:30px;}
.shEventBox .eventList li a:hover , .shEventBox .eventList li a:focus {color:#ff6c00; text-decoration:underline;}

.shEventBox .btns {margin-top:-1px; position:relative;}
.shEventBox .btns button {position:absolute; top:0; left:50%; margin-left:-70px; padding:10px 0 10px 10px; width:135px; background:#666; border-top:1px solid #555; border-radius:0 0 3px 3px; behavior:url('../../resources/css/PIE.htc'); font-size:14px; color:#fff; font-weight:bold; text-align:center; cursor:pointer;}
.shEventBox .btns .icnOpen {background:url('../images/arw_set.png') no-repeat 0 -358px; display:inline-block; width:15px; height:15px; vertical-align:middle; margin-left:10px; text-indent:-999999px;}

.shEventBox .btnListClose {display:none;}
.shEventBox .btns .icnClose {background:url('../images/arw_set.png') no-repeat 0 -700px; display:inline-block; width:15px; height:15px; vertical-align:middle; margin-left:10px; text-indent:-999999px;}


/* 검색결과 없음 */
.emptyShWrap {text-align:center;}
.emptyShWrap .txt {font-size:24px; color:#333; margin:100px 0 30px 0;}
.emptyShWrap .txt em {color:#ff6c00; word-break:break-all;}
.emptyShWrap .emptyBox {clear:both; background:#f8f8f8; width:690px; margin:0 auto; padding:25px 0 25px 290px; margin-bottom:100px; position:relative;}
.emptyShWrap .emptyBox p {font-size:14px; color:#666; line-height:22px; background:url('../images/bul_set.png') no-repeat 0 -37px; text-align:left; padding-left:10px;}
.emptyShWrap .emptyBox .bgImg {position:absolute; left:90px; top:25px; background:url('../images/img_searchEmpty.jpg'); width:119px; height:95px; display:block; padding:0;}

/* 추천검색어 */
.recomKeyword {clear:both;}
.recomKeyword .keyword {clear:both; height:50px; border:1px solid #ddd;}
.recomKeyword .keyword li {float:left; width:33.333%; line-height:50px;}
.recomKeyword .keyword li p {position:relative; border-left:1px solid #ddd; padding:0 20px; height:50px;}
.recomKeyword .keyword li:first-child p {border-left:none;}
.recomKeyword .keyword li p a {font-size:15px; color:#333; font-weight:bold; display:block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.recomKeyword .keyword li p a:hover , .recomKeyword .keyword li p a:focus {position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; border:1px solid #ff6c00; display:block; padding:0 20px; z-index:2; color:#ff6c00;}


/* 검색 메뉴 */
.shCate {position:relative; clear:both; }
.shCate:after {content:""; display:block; clear:both;}
.shCate .shMenu {position:relative; clear:both; background:url('../images/bg_cate1.png') repeat-y top right;}
.shCate .shMenu:after {content:""; display:block; clear:both;}
.shCate ul:first-child {border-top:1px solid #ddd;}

.shMenu li {width:20%; line-height:48px; font-size:15px; float:left; position:relative;}
.shMenu li .depth1 {border:1px solid #ddd; position:relative; margin-left:-1px; margin-top:-1px; font-weight:bold; height:48px;}
.shMenu li .depth1 a {display:block; padding-left:15px;}
.shMenu li .depth1 a:hover , .shMenu li .depth1 a:focus , .shMenu li .depth1 a.active {position:relative; z-index:6; margin:-1px; line-height:48px; border:1px solid #ff6c00; background:#ff6c00; color:#fff;}
.shMenu li i {display:inline-block; width:15px; height:15px; vertical-align:middle; position:absolute; right:10px; top:19px; text-indent:-999999px;}
.shMenu li .depth1 a .arwView {background:url('../images/arw_set.png') no-repeat -30px -357px;}
.shMenu li .depth1 a.active .arwView , .shMenu li .depth1 a:hover .arwView , .shMenu li .depth1 a:focus .arwView  {background:url('../images/arw_set.png') no-repeat 0 -357px;}
.shMenu li .depth1 a span {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:inline-block; float:left; max-width:130px; }
.shMenu li .depth1 a em {height:25px; display:inline-block;}


.shMenu2 {position:relative; clear:both; background:url('../images/bg_cate2.png') repeat-y top right;}
.shMenu2:after {content:""; display:block; clear:both;}
.shMenu2 li {width:20%; line-height:48px; font-size:15px; float:left; position:relative;}
.shMenu2 li .depth2 {border:1px solid #ddd; position:relative; margin-left:-1px; margin-top:-1px; background:#f8f8f8;}
.shMenu2 li .depth2 a {display:block; padding-left:15px;}
.shMenu2 li .depth2 a:hover , .shMenu2 li .depth2 a.active {position:relative; z-index:6; margin:-1px; line-height:48px; border:1px solid #ff6c00; color:#ff6c00;}
.shMenu2 li .depth2 a span {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:inline-block; float:left; max-width:140px; margin-right:3px;}

.shMenu2 li .none {display:block; text-indent:-999999px;}

.shCate .sub { z-index:5; position:absolute; top:48px; left:0px; padding:7px 1px; width:200%; background:#fff9ed; border:1px solid #ececec; border-top:none; }





/*//////////////// 상세화면 ///////////////////////////////////*/

.detailLocationArea {margin:35px 0 20px 0; position:relative; clear:both;}
.detailLocationArea:after {content:""; display:block; clear:both;}
.detailLocation {font-size:18px; font-weight:bold;}
.detailLocation li {float:left; position:relative;}
.detailLocation li .back {font-weight:bold; margin:0 10px 0 5px; background:url('../images/bul_set.png') no-repeat 0 -16px; padding-left:13px;}
.detailLocation li .home {font-weight:bold; background:url('../images/line_set.png') no-repeat 0 -172px; padding:0 5px 0 10px;}

.detailLocation li .depth {margin-right:25px; position:relative; font-weight:bold; display:inline-block;}
.detailLocation li a:hover {color:#000;}
.detailLocation li .depth i {display:inline-block; text-indent:-999999px; vertical-align:middle; width:13px; height:13px; background:url('../images/arw_set.png') no-repeat; background-color:#fff; border:1px solid #ccc; position:absolute; right:-20px; top:7px; }
.detailLocation li .depth i.arwDown {z-index:32; background-position:-1px -328px; cursor:pointer; }
.detailLocation li .depth i.arwUp {z-index:33; background-position:-31px -328px; display:none;}
.detailLocation li i.arwDown:hover ,
.detailLocation li i.arwUp:hover {border:1px solid #333;}

.detailLocation li i.arwNext {width:13px; height:18px; background:url('../images/arw_set.png') no-repeat 0 -824px; text-indent:-999999px; vertical-align:middle; display:block; margin:5px 7px 0 0;}

.detailLocation li .detailLayerDepth {position:absolute; top:30px; right:5px; background:#fff; border:1px solid #999; width:125px; max-height:250px; overflow-y:auto; z-index:31; padding:12px 15px; display:none; font-weight:normal;}
.detailLocation li .detailLayerDepth li {display:block; clear:both; margin-top:8px; text-align:left; max-width:120px;}
.detailLocation li .detailLayerDepth li:first-child {margin-top:0;}
.detailLocation li .detailLayerDepth li a {font-size:13px; color:#666; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; max-width:120px; display:block; border-bottom:1px solid #fff;}
.detailLocation li .detailLayerDepth li a:hover , .detailLocation li .detailLayerDepth li a:focus {color:#ff6c00; border-bottom:1px solid #ff6c00;}


/* 상세화면 상단 이미지 보기 */
.prdtImgWrap {float:left; position:relative; width:310px;}
.prdtImgWrap .thumList {position:absolute; top:310px; left:0;}
.prdtImgWrap .thumList li {width:70px; height:70px; margin-right:7px; float:left;}
.prdtImgWrap .thumList li img {width:70px; height:70px; border:1px solid #fff; box-sizing:border-box;}
.prdtImgWrap .thumList .active img {border:1px solid #ff6c00; box-sizing:border-box;}
.prdtImgWrap .thumList li img:hover , .prdtImgWrap .thumList li img:focus {border:1px solid #ff6c00; box-sizing:border-box;}
.prdtImgWrap .viewList {position:absolute; top:0; left:0; width:302px; height:302px; overflow:hidden;}
.prdtImgWrap .viewList li img {width:300px; height:300px; border:1px solid #ddd;}

.prdtImgWrap .saleend {position:absolute; width:300px; line-height:300px; border:1px solid #ddd; text-align:center; background:#fff; left:0; background:url('../images/img_saleend.png') no-repeat; background-color:#fff; text-indent:-999999px; background-size:100%;}
.prdtImgWrap .soldout {position:absolute; width:300px; line-height:300px; border:1px solid #ddd; text-align:center; background:#fff; left:0; background:url('../images/img_soldout.png') no-repeat; text-indent:-999999px; background-size:100%;}


/* 상세화면 상단 상품정보 보기 */
.prdtInfo {float:right; width:720px; min-height:470px;}
.prdtInfo .dealEndBox {background:url('../images/bg_dday2.png'); line-height:45px; color:#fff; font-size:16px; font-weight:bold; margin-bottom:20px;}
.prdtInfo .dealEndBox i { text-indent:-999999px; height:30px;  vertical-align:middle; display:inline-block; margin:0 8px 5px 15px;}
.prdtInfo .dealEndBox .icnSdeal {background-position:0 -120px; width:65px;}
.prdtInfo .dealEndBox .icnHdeal {background-position:0 -148px; width:70px; }

.prdtInfo .nameBox {clear:both;}
.prdtInfo .nameBox .label {clear:both; padding:0 0 15px 10px;}
.prdtInfo .nameBox .name {padding:0 0 20px 10px; font-size:22px; color:#333; line-height:25px; border-bottom:1px solid #333; margin-bottom:25px;}

.prdtInfo .infoBox {clear:both;}
.tbPrdtInfo {width:100%; text-align:left;}
.tbPrdtInfo th {font-size:14px; color:#333; line-height:18px; vertical-align:top; padding:15px 0 0 10px; position:relative; text-align:left;}
.tbPrdtInfo td {vertical-align:top; padding:15px 0 0 0; position:relative;}
.tbPrdtInfo tr:first-child th , .tbPrdtInfo tr:first-child td {padding-top:0;}
.tbPrdtInfo th a span {display:inline-block; color:#666; font-size:12px; border-bottom:1px solid #999; font-weight:normal;}
.tbPrdtInfo th a:hover span , .tbPrdtInfo th a:focus span {color:#ff6c00; border-bottom:1px solid #ff6c00;}
.tbPrdtInfo th a .arwFee {background:url('../images/arw_set.png') no-repeat 0 -479px; display:inline-block; width:10px; height:19px; text-indent:-999999px;}
.tbPrdtInfo th a:hover .arwFee , .tbPrdtInfo th a:focus .arwFee {background-position:0 -594px;}
.tbPrdtInfo .price {font-size:14px; color:#333;}
.tbPrdtInfo .price strong {font-family:'Verdana','Malgun Gothic','맑은 고딕'; font-size:20px; font-weight:bold;}
.tbPrdtInfo .price em {font-size:18px; color:#ff6c00; font-weight:bold; display:inline-block; margin-left:15px;}
.tbPrdtInfo .price del {color:#999; display:block; font-size:12px; font-family:'Verdana','Malgun Gothic','맑은 고딕';margin-top:5px;}
.tbPrdtInfo .price.priceSpecial em {margin-left:0px;}
.tbPrdtInfo .deliveryFee {font-size:14px; color:#333; padding-bottom:15px;}
.tbPrdtInfo .deliveryFee small {display:block; font-size:12px; color:#666; margin:4px 0 9px 0;}
.tbPrdtInfo .deliveryFee small span.line {background:url('../images/line_set.png') no-repeat 0 4px; display:inline-block; width:1px; margin:0 8px 0 10px; text-indent:-999999px;}
.tbPrdtInfo .deliveryFee .icnMark {background:url('../images/icn_set.png') no-repeat 0 -297px; background-color:#fff; width:14px; height:14px; display:inline-block; text-indent:-999999px; border:1px solid #ccc; vertical-align:middle; margin-left:3px;}
.tbPrdtInfo .deliveryOpt { padding-left:10px; padding-top:0; padding-bottom:15px; }
.tbPrdtInfo .deliveryOpt p { padding-left:18px; background:url('../images/icn_notice.gif') no-repeat 0 center; }
.tbPrdtInfo .deliveryOpt p i { color:#888; }
.tbPrdtInfo .titOption {padding-top:28px;}
.tbPrdtInfo .option {padding:25px 0;}
.tbPrdtInfo .option select {margin-top:10px; display:block; width:550px;}
.tbPrdtInfo .option select:first-child {margin-top:0;}
.tbPrdtInfo .hr {text-indent:-999999px; height:1px; background:#ddd; font-size:0; padding:0;}

.tbPrdtInfo .priceLayer1 {top:22px; left:72px; width:420px;}
.tbPrdtInfo .priceLayer2 {top:38px; left:85px; width:420px;}
.tbPrdtInfo .deliveryFeeLayer {top:20px; left:100px; width:250px;}

.prdtInfo .txtBox {clear:both; font-size:12px; color:#999; text-align:right; margin:10px 0 20px 0;}
.prdtInfo .txtBox em {color:#333; font-weight:bold;}

.optionSelectBox {background:#f8f8f8; padding:15px 0; position:relative; clear:both; font-size:14px; margin-top:5px; overflow:hidden; display:table; vertical-align:middle; width:100%;}
.optionSelectBox p {vertical-align:middle; display:table-cell; display:inline-block;}
.optionSelectBox p.no {color:#999; margin:0 0 0 15px; vertical-align:top; line-height:22px;}
.optionSelectBox p.name {color:#333; margin-left:10px; width:390px; padding-right:30px; line-height:22px;}
.optionSelectBox p.price {color:#333; width:100px; font-family:'Verdana','Malgun Gothic','맑은 고딕'; text-align:right; position:absolute; top:50%; margin-top:-11px; right:50px; line-height:22px;}
.optionSelectBox p.del {position:absolute; top:50%; margin-top:-8px; right:15px;}
.optionSelectBox p.del .btnDel {background:url('../images/icn_set.png') no-repeat -25px -220px; width:17px; height:17px; display:block; text-indent:-999999px; }

.prdtInfo .soldoutBox {clear:both; background:#f8f8f8; border:1px solid #ddd; text-align:center; font-size:16px; font-weight:bold; color:#ff6c00; padding:30px;}

.prdtInfo .priceBox {clear:both; font-size:14px; text-align:right; font-weight:bold; margin:15px 0 10px 0;}
.prdtInfo .priceBox span {color:#ff6c00; display:inline-block; margin-left:10px;}
.prdtInfo .priceBox span em {font-family:'Verdana','Malgun Gothic','맑은 고딕'; font-size:28px; font-weight:bold;}

.prdtInfo .btnBox {clear:both; text-align:right; margin-right:-2px;}
.prdtInfo .btnBox .btn {height:50px; border-radius:3px; behavior:url('../../resources/css/PIE.htc'); position:relative; text-align:center; display:inline-block; font-size:18px; font-weight:bold; width:320px;}
.prdtInfo .btnBox .btnOrder {background:#ff6c00; color:#fff;}
.prdtInfo .btnBox .btnCart {background:#fff; border:1px solid #666; margin-left:3px;}
.prdtInfo .btnBox .btnWish {background:#fff; border:1px solid #666; width:65px; margin-left:2px; text-align:center;}
.prdtInfo .btnBox .btnWish .icnWish {background:url('../images/icn_set.png') no-repeat 0 -237px; display:inline-block; width:21px; height:21px; text-indent:-999999px;}
.prdtInfo .btnBox .btnWishOn {background:#ff6c00; border:1px solid #ff6c00; width:65px; margin-left:2px; text-align:center;}
.prdtInfo .btnBox .btnWishOn .icnWish {background:url('../images/icn_set.png') no-repeat 0 -451px; display:inline-block; width:21px; height:21px; text-indent:-999999px;}

.tbPrdtInfo .optionSelectBox {background:#fff;} /* 옵션없는 상품의 구매수량 */

/* 수량 카운트 */
.optionSelectBox p.count {background:yellow;}
.optionSelectBox p.count button {background:url('../images/arw_set.png') no-repeat; background-color:#fff; border:1px solid #ccc; display:inline-block; width:24px; height:23px; text-align:center; vertical-align:middle; text-indent:-999999px; float:left;}
.optionSelectBox p.count button.disabled { background-color: #f8f8f8; }
.optionSelectBox p.count button.btnPlus {background-position:-25px -464px;}
.optionSelectBox p.count button.btnMinus {background-position:-3px -464px;}
.optionSelectBox p.count button:hover {border:1px solid #333;}
.optionSelectBox p.count input {line-height:21px !important; height:21px !important; font-weight:bold; font-family:'Verdana','Malgun Gothic','맑은 고딕'; font-size:12px; color:#333; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-left:none; border-right:none; display:inline-block; width:32px; vertical-align:middle; text-align:center; background-color:#fff; float:left;}
.optionSelectBox p.count input.disabled { background-color: #f8f8f8; }


/* 상세 상품 정보 */

/* 상세정보 세로 테이블 */
.detailWrap .tbdetailV {width:100%; text-align:center; font-size:13px; position:relative; clear:both; border-top:1px solid #ddd;}
.detailWrap .tbdetailV:after {content:""; display:block; clear:both;}
.detailWrap .tbdetailV th {font-weight:bold; font-size:14px; color:#333; text-align:left; padding-left:20px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; background:#f8f8f8; line-height:50px;}
.detailWrap .tbdetailV th.padLh { line-height:20px;padding:15px 20px 15px 20px;letter-spacing:-2px;}    /* 20170113 add */
.detailWrap .tbdetailV th:first-child {border-left:none;}
.detailWrap .tbdetailV th span {display:block; line-height:14px; margin-right:15px;}
.detailWrap .tbdetailV td span {display:block; line-height:14px; margin-right:15px;}
.detailWrap .tbdetailV td {font-size:12px; color:#666; text-align:left; padding-left:20px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; line-height:50px;}
.detailWrap .tbdetailV td.pad {padding:15px 0 15px 20px; line-height:14px;} /* 20170113  add*/
.detailWrap .tbdetailV td input[type="radio"] {margin-left:25px;}
.detailWrap .tbdetailV td input[type="radio"]:first-child {margin-left:0;}
.detailWrap .tbdetailV td textarea {margin:20px 0; width:98.5%; height:100px; resize:none;}
.detailWrap .tbdetailV td.btTxt {border:none; font-size:14px; line-height:15px; padding:15px 0 0 20px;}
.detailWrap .tbdetailV td.conTxt {padding:20px;}
.detailWrap .tbdetailV td.conTxt em {color:#111;}
.detailWrap .tbdetailV td p {line-height:18px; margin-top:10px;}
.detailWrap .tbdetailV td p:first-child {margin-top:0;}

/* 상세정보 가로 테이블 */
.detailWrap .tbdetailH {width:100%; text-align:center; font-size:13px; position:relative; clear:both; border-top:1px solid #ccc;}
.detailWrap .tbdetailH:after {content:""; display:block; clear:both;}
.detailWrap .tbdetailH caption {text-align:left; font-size:14px; color:#666; margin-bottom:20px; padding-left:10px;}
.detailWrap .tbdetailH caption em {font-weight:bold; color:#333;}
.detailWrap .tbdetailH th {font-weight:bold; font-size:14px; color:#333; padding-left:20px; border-bottom:1px solid #ddd; background:#f8f8f8; line-height:50px;}
.detailWrap .tbdetailH td {font-size:12px; color:#666; text-align:center; padding:13px 0 13px 20px; border-bottom:1px solid #ddd;}
.detailWrap .tbdetailH td.titQnA {padding-left:20px;}
.detailWrap .tbdetailH td.titQnA .tit {display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:480px; color:#666;}
.detailWrap .tbdetailH td.titQnA .tit.mine { font-weight:bold; color:#333; }
.detailWrap .tbdetailH td.titQnA .tit .icnRock {background:url('../images/icn_set.png') no-repeat -25px -278px; display:inline-block; width:19px; height:19px; text-indent:-999999px; vertical-align:middle;}
.detailWrap .tbdetailH td.viewQnA {background:#f8f8f8; text-align:left; line-height:18px; padding: 15px 0; display:none;}
.detailWrap .tbdetailH td.viewQnA .viewQ {clear:both; padding:0 100px 0 275px; position:relative; word-break: break-all; }
.detailWrap .tbdetailH td.viewQnA .viewQ .btnDel {height:25px; border-radius:3px; text-align:center; display:block; font-size:12px; font-weight:bold; width:80px; background:#fff; border:1px solid #ccc; margin-top:10px; padding-bottom:3px;}
.detailWrap .tbdetailH td.viewQnA .viewQ .icnQ {position:absolute; top:1px; left:250px; background:url('../images/icn_set.png') no-repeat -25px -259px; display:block; width:19px; height:19px; text-indent:-999999px;}
.detailWrap .tbdetailH td.viewQnA .viewA {clear:both; padding:15px 100px 0 275px; margin-top:20px; border-top:1px dashed #ddd; position:relative; word-break: break-all; }
.detailWrap .tbdetailH td.viewQnA .viewA .date {color:#333; margin-top: 10px;}
.detailWrap .tbdetailH td.viewQnA .viewA .line {background:url('../images/line_set.png') no-repeat 0 -34px; display:inline-block; margin:0 10px; text-indent:-999999px; width:1px; font-size:13px;}
.detailWrap .tbdetailH td.viewQnA .viewA .icnA {position:absolute; top:16px; left:250px; background:url('../images/icn_set.png') no-repeat 0 -278px; display:block; width:19px; height:19px; text-indent:-999999px;}
.detailWrap .tbdetailH td .complete {color:#ff6c00;}
.detailWrap .tbdetailH td.end {border-bottom:none; text-indent:-999999px; height:1px; padding:0; display:block; font-size:0;}
.detailWrap .tbdetailH td.txtLeft {text-align:left;}



.detailTab {clear:both; margin-top:50px;}
.detailTab .icn11 {background:url('../images/icn_set.png') no-repeat 0 -362px; display:inline-block; width:15px; height:15px; vertical-align:middle; margin-left:8px;}

/* 상품설명 */
.tabProductInfo {clear:both; text-align:center;}
.tabProductInfo .imgs {margin-top:20px;}
.tabProductInfo .imgs img {vertical-align:top; max-width:1080px; height:auto !important;}

/* 상품문의 */
.tabQnA {clear:both; margin-top:30px;}
.tabQnA .qnaWriteBottom {font-size:14px; color:#333; position:relative; clear:both;}
.tabQnA .qnaWriteBottom:after {content:""; display:block; clear:both;}
/*.tabQnA .qnaWriteBottom .icnKnow {display:inline-block; background:url('../images/icn_set.png') no-repeat 0 -260px; width:18px; height:18px; text-indent:-999999px; vertical-align:middle; margin:0 10px;}
.tabQnA .qnaWriteBottom button.icnQmark {margin-left:7px;}
.tabQnA .qnaWriteBottom .knowLayer {position:absolute; top:4px; left:130px;}
.tabQnA .qnaWriteBottom .knowLayer p {margin-top:10px; background:url('../images/bul_set.png') no-repeat 0 0; padding-left:7px; letter-spacing:-1px;}
.tabQnA .qnaWriteBottom .knowLayer p:first-child {margin-top:0;}
.tabQnA .qnaWriteBottom .knowLayer small {display:block; font-size:12px; color:#666; line-height:18px; padding-left:8px;}*/

.uknowList {margin:30px 0 66px; padding:30px 0 27px 101px; background:#f8f8f8 url('../images/bg_uknow.gif') no-repeat 31px 30px;}
.uknowList .title {display:block; font-size:16px; font-weight:bold;}
.uknowList > ul {margin-top:8px;}
.uknowList > ul > li {position:relative; margin-top:6px; padding-left:13px; color:#333; letter-spacing:-1px;}
.uknowList > ul > li:first-child {margin-top:0;}
.uknowList > ul > li:after {display:block; position:absolute; top:8px; left:0; content:''; width:3px; height:3px; background:url('../images/bul_set.png') no-repeat 0 -368px;}
.uknowList .subList {margin-top:4px;}
.uknowList .subList li {margin-top:4px; background:none; color:#666;}
.uknowList .subList li:first-child {margin-top:0;}

.tabQnA .tbQnA {margin:30px 0 20px 0;}

.tabQnA .qnaWriteBottom .fr .btnQnAs {display:none;}
.tabQnA .qnaWriteBottom .fr button {height:40px; border-radius:3px; behavior:url('../../resources/css/PIE.htc'); position:relative; text-align:center; display:inline-block; font-size:14px; font-weight:bold; width:120px;  margin-right:5px;}
.tabQnA .qnaWriteBottom .fr button.btnWrite  {background:#333; border:1px solid #333; color:#fff; }
.tabQnA .qnaWriteBottom .fr button.btnEnter  {background:#333; border:1px solid #333; color:#fff; }
.tabQnA .qnaWriteBottom .fr button.btnWCancel  {background:#fff; border:1px solid #666; color:#333; }

.tabQnA h5 {margin-top:-16px;}

/* 관련상품 */
.sameCate {clear:both; margin-top:40px; position:relative; clear:both;}
.sameCate:after {content:""; display:block; clear:both;}
.sameCate hr {display:block; height:1px; background:#ddd; margin-top:20px;}
.sameCate ul {margin-left:9px; margin-top:30px;}
.sameCate li {width:252px; float:left; margin-left:18px;}
.sameCate li:first-child {margin-left:0;}
.sameCate li img {width:250px !important; height:250px;}

/* 판매자/배송/반품 */
.tabCompanyInfo {clear:both;}
.tabCompanyInfo .guideTxt {clear:both; margin-top:50px;}
.tabCompanyInfo .guideTxt .tit {font-weight:bold; font-size:16px; color:#333; background:url('../images/bul_set.png') no-repeat 0 2px; padding-left:10px;}
.tabCompanyInfo .guideTxt .txt {font-size:14px; color:#666; padding-top:10px; padding-left:10px; line-height:20px;}


/* 11번가 상품리뷰 */
.reviewScroll {max-height:440px; overflow-y:auto; overflow-x:hidden; margin-right:-20px;}
.reviewScroll td {color:#666; padding-top:20px !important; padding-bottom:20px !important; }
.reviewScroll td.review {text-align:left; line-height:17px; padding-left:20px;}
.reviewScroll td.review img {width:80px; height:80px; float:left; margin-right:20px;}
.reviewScroll td.review .tit {color:#333; font-weight:bold;}
.reviewScroll td.review .option {color:#999; overflow:hidden; height:16px;}
.reviewScroll td.review .cont {color:#666; margin-top:10px; overflow:hidden; max-height:36px; cursor:pointer;}
.reviewScroll td.review .cont:hover {text-decoration:underline;}
.reviewScroll td.review .contNoView {color:#666; margin-top:10px; overflow:hidden; max-height:36px;}
.reviewScroll td.btnArea {vertical-align:bottom; padding:0 !important; text-align:center; position:relative; bottom:-1px;}
.reviewScroll td.btnArea .btnMore {margin:0 auto; display:block; width:80px; background:#fff; padding:4px 0 5px 0; border-radius:3px 3px 0 0; border:1px solid; border-color:#ddd #ddd #f3f3f3 #ddd; color:#333; font-weight:bold;}
.reviewScroll td.btnArea .btnMore .arw {background:url('../images/arw_set.png') no-repeat -3px -452px; display:inline-block; width:9px; height:5px; vertical-align:middle; margin-left:5px; z-index:1000;}
.reviewScroll td.btnArea .btnClose {margin:0 auto; display:block; width:80px; background:#f8f8f8; padding:4px 0 5px 0; border-radius:3px 3px 0 0; border:1px solid; border-color:#ddd #ddd #f3f3f3 #ddd; color:#333; font-weight:bold; display:none;  z-index:1001;}
.reviewScroll td.btnArea .btnClose .arw {background:url('../images/arw_set.png') no-repeat -28px -450px; display:inline-block; width:9px; height:5px; vertical-align:middle; margin-left:5px;}
.reviewScroll td.contMore {background:#f8f8f8; text-align:left; width:784px; padding:17px 0 17px 120px !important; display:none; }
.reviewScroll td.contMore img {max-width:760px; margin-top:20px; margin-bottom:3px;}
.reviewScroll td.contMore .comt {border-top:1px solid #ddd; margin-left:-120px; padding:20px 20px 0 125px; margin-top:20px;}
.reviewScroll td.contMore .comt .date {font-weight:bold; color:#333; background:url('../images/bul_set.png') no-repeat 0 -113px; padding-left:15px;}
.reviewScroll td.contMore .comt .txt {margin-top:10px; padding-left:15px;}


/*//////////////// 상세화면 - 옵션선택 유틸리티 ///////////////////////////////////*/

.detailOptionBlock {display:block;}
.detailOption {margin:0 auto; display:none;}
.detailOption #opHide {display:none;}

.detailOption .titBox {padding:0 20px; line-height:50px; background:#5f95b8; border-radius:3px 3px 0 0; behavior:url('../../resources/css/PIE.htc'); float:right; width:570px; position:relative; clear:both; text-align:left;}
.detailOption .titBox:after {content:""; display:block; clear:both;}
.detailOption .titBox .tit {font-weight:bold; font-size:16px; color:#fff; cursor:pointer; display:inline-block;}
.detailOption .titBox .tit .icnShow {background:url('../images/arw_set.png') no-repeat -25px -510px; width:17px; height:17px; display:inline-block; text-indent:-999999px; vertical-align:middle; margin-left:8px;}
.detailOption .titBox .tit .icnHide {background:url('../images/arw_set.png') no-repeat 0 -510px; width:17px; height:17px; display:inline-block; text-indent:-999999px; vertical-align:middle; margin-left:8px;}
.detailOption .titBox .price {font-size:14px; color:#fff; margin-right:10px;}
.detailOption .titBox .price em {font-size:20px; font-weight:bold;}
.detailOption .titBox .btns button {border-radius:3px; behavior:url('../../resources/css/PIE.htc'); position:relative; display:inline-block; height:25px; width:80px; text-align:center; font-size:13px; margin-bottom:3px; padding-bottom:3px;}
.detailOption .titBox .btns button.btnOrder {background:#333; color:#fff;}
.detailOption .titBox .btns button.btnCart {background:#fff; color:#000;}

.detailOption .optionBox {background:#bbb; display:none; clear:both; background:#fff; border:1px solid #5f95b8; border-bottom:none; max-height:275px; min-height:242px; text-align:left; }
.detailOption .optionBox:after {content:""; display:block; clear:both;}
.detailOption .optionBox .opSelect {float:left; margin:25px 0 0 45px; padding-right:45px; border-right:1px solid #ddd; display:block; min-height:200px;}
.detailOption .optionBox .opSelect select {margin-top:5px; display:block;}
.detailOption .optionBox .opSelect .tit {font-size:14px; font-weight:bold; color:#333; margin-bottom:15px;}
.detailOption .optionBox .opSelect .txt {font-size:12px; color:#999; text-align:right; margin-top:10px;}
.detailOption .optionBox .opSelect .txt em {color:#333; font-weight:bold;}

.detailOption .optionBox .opView {float:right; width:565px; margin:30px 0 0 0; padding:0 0 46px 0;}/* 복수배송지가 추가 될 경우 패딩 삭제 */
.detailOption .optionBox .opView .tbPrdtInfo .priceLayer2 {top:-20px;}
.detailOption .optionBox .opView .tbPrdtInfo select {position:absolute; top:16px; left:245px;}
.detailOption .optionBox .opView .tbPrdtInfo .deliveryFeeLayer {top:3px;}

.opViewScroll {clear:both; overflow-y:auto; overflow-x:hidden; clear:both; max-height:135px; margin-right:10px; margin-top:-10px;}
.opViewScroll:after {content:""; display:block; clear:both;}
.opViewScroll .optionSelectBox {width:535px !important;}
.opViewScroll .optionSelectBox .name {width:235px !important;}
.opViewScroll .optionSelectBox .price {width:92px !important;  right:45px !important;}

.detailOption .optionBox .opView .txtBox {clear:both; font-size:12px; color:#999; text-align:right; margin:10px 40px 20px 0;}
.detailOption .optionBox .opView .txtBox em {color:#333; font-weight:bold;}


.detailOptionBlock {display:block;}

 /*상품설명내 안전인증 20170112 add*/
 .certi_mark{float:left;padding:10px 0px 0 0;}
 .certi_mark .ico{width:26px;height:40px;display:inline-block;background:url('../images/icn_certi_mark.png')  no-repeat;}
 .certi_mark .ico.logo01{background-position:-26px -275px }
 .certi_mark .ico.logo02{background-position:-26px -320px }
 .certi_mark .ico.logo03{background-position:-26px -363px }
 .certi_info{float:left;}
 .certi_info p{margin-top:0px !important; line-height:13px;}
 .certi_info p.infotxt {margin-top:11px !important; }
 .ttxt_link {text-decoration:underline;}

 /* 팝업-안전인증확인 */
.safetyScroll {max-height:450px; overflow-y:auto; overflow-x:hidden; margin-right:-20px;}
.safetyScroll th {padding-right:20px !important; line-height:17px;}
.safetyScroll td p.cont {color:#666; padding-right:20px !important; line-height:17px;}







/* 리뷰왼쪽정렬 */
.detailWrap .tbdetailH td.txtLeft {text-align:left;}

/* 맞춤검색 */
.searchWrap .tabContentBox {border:1px solid #333;border-top:0 none;}
.fitSearchBox {width:100%;}
.fitSearchBox tr:first-child th {padding-top:20px}
.fitSearchBox tr:first-child td {padding-top:10px;}
.fitSearchBox tr:last-child th,.fitSearchBox tr:last-child td {padding-bottom:30px;}
.fitSearchBox tr:nth-child(2) th,.fitSearchBox tr:nth-child(2) td {border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#f5f5f5;}
.fitSearchBox tr th,.fitSearchBox tr td {/*padding:20px 0;*/min-height:24px;}
.fitSearchBox th {padding:20px 0 20px 40px;text-align:left;font-weight:600;font-size:16px;letter-spacing:-0.075em;box-sizing:border-box;}
.fitSearchBox td {padding:5px 0 20px 0;}
.fitSearchBox td ul:after {content:'';display:block;clear:both;}
.fitSearchBox td li {float:left;margin-top:15px;padding-right:10px;min-width:100px;font-size:14px;letter-spacing:-0.075em;}

/* 상품리뷰 */
.tabProductReview .resultRating {}
.tabProductReview .total {display:inline-block;font-weight:normal;font-family:'Verdana',sans-serif;font-size:13px;color:#666;}
.tabProductReview .total em {color:#ff6c00;}

.tabProductReview .noList {padding:165px 0;width:100%;text-align:center;}
.tabProductReview .noList p {margin:0 auto 95px;padding-top:145px;width:355px;background:url('../images/icon/ico_review_no.png') no-repeat 50% 0;line-height:34px;font-size:24px;letter-spacing:-0.05em;}
.tabProductReview .noList .btnBox {}

.resultRating:after {content:'';display:block;clear:both;}
.resultRating {display:inline-block;line-height:15px;}
.resultRating a {float:left;font-size:18px;color:#ccc;text-decoration:none;}
.resultRating a.on {color:#e8c10c;}

.totalRatingBox:after {content:'';display:block;clear:both;}
.totalRatingBox {padding:15px 0 15px 80px;border:3px solid #ebebeb;}
.totalRatingBox .aveTotal {float:left;}
.totalRatingBox .aveTotal span {float:left;margin:3px 10px 0 0;font-weight:600;font-size:22px;}
.totalRatingBox .aveTotal .resultRating {float:left;line-height:30px;}
.totalRatingBox .aveTotal .resultRating a {float:left;font-size:25px;color:#ccc;text-decoration:none;}
.totalRatingBox .aveTotal .resultRating a.on {color:#e8c10c;}
.totalRatingBox .aveTotal .total {margin-left:10px;font-weight:normal;font-family:'Verdana',sans-serif;font-size:18px;color:#ccc;}
.totalRatingBox .aveTotal .total em {font-size:22px;color:#ff6c00;}

.totalRatingBox > ul {float:left;margin:7px 0 0 70px;}
.totalRatingBox > ul li:first-child {background:none;}
.totalRatingBox > ul li {float:left;margin:0 20px 0 0;padding:0 0 0 20px;background:url('../images/common/bg_review.png') no-repeat 0 75%;}
.totalRatingBox > ul li span {float:left;margin:0 15px 0 0;height:19px;background:url('../images/common/ico_review.png') no-repeat 0 0;font-size:14px;letter-spacing:-0.025em;}
.totalRatingBox > ul li:nth-child(1) span {padding:0 0 0 23px;background-position:0 0;}
.totalRatingBox > ul li:nth-child(2) span {padding:0 0 0 28px;background-position:-187px 0;}
.totalRatingBox > ul li:nth-child(3) span {padding:0 0 0 21px;background-position:-377px 0;}
.totalRatingBox > ul li .resultRating {float:left;line-height:16px;}

.reviewCont:after {content:'';display:block;clear:both;}
.reviewCont {width:100%;display:table;}
.reviewCont .imgReviewBox {display:table-cell;/*margin-right:15px;*/width:78px;height:78px;border:1px solid #ddd;overflow:hidden;box-sizing:border-box;}
.reviewCont a {display:table-cell;/*padding:0 10px;*/vertical-align:top;line-height:23px;font-size:13px;color:#666;}
.imgReviewBox + a {padding:0 10px;}

.reviewArea {display:none;}
.reviewArea.active {display:block;}
.reviewArea td {background:#f8f8f8;}
.reviewArea .reviewBox {padding:40px 67px 40px 47px;}
.reviewArea .reviewBox .title:after {content:'';display:block;clear:both;}
.reviewArea .reviewBox .title {margin-bottom:18px;padding-bottom:18px;border-bottom:1px solid #ddd;}
.reviewArea .reviewBox .title p {float:left;font-weight:600;color:#666;}
.reviewArea .reviewBox .title ul {float:right;}
.reviewArea .reviewBox .cont {}
.reviewArea .reviewBox .cont p {line-height:23px;font-size:13px;color:#666;}
.reviewArea .reviewBox .cont .imgBox {margin-top:30px;text-align:center;background:#000;}

.reviewArea .resultRatingBox:after {content:'';display:block;clear:both;}
.reviewArea .resultRatingBox span {float:left;margin:0 15px 0 0;font-weight:600;font-size:14px;color:#333;letter-spacing:-0.025em;}
.reviewArea .resultRatingBox li:first-child {padding:0;background:none;}
.reviewArea .resultRatingBox li:last-child {margin:0;}
.reviewArea .resultRatingBox li {float:left;margin:0 20px 0 0;padding:0 0 0 20px;background:url('../images/common/bg_review.png') no-repeat 0 100%;}
.reviewArea .resultRatingBox li a {}

/* [팝업]상품리뷰등록 */
.reviewProduct:after {content:'';display:block;clear:both;}
.reviewProduct .imgBox {float:left;margin-right:18px;width:100px;height:100px;overflow:hidden;}
.reviewProduct .imgBox img {width:100%;}
.reviewProduct .infoBox {float:left;margin-top:15px;width:300px;}
.reviewProduct .infoBox p {line-height:25px;font-weight:600;font-size:20px;letter-spacing:-0.05em;}
.reviewProduct .infoBox .option {font-size:12px;color:#666;letter-spacing:-0.025em;}

.starRatingBox {padding:15px 20px;border:1px solid #ddd;background:#f8f8f8;}
.starRatingBox ul:after {content:'';display:block;clear:both;}
.starRatingBox ul li:first-child {padding:0;background:none;}
.starRatingBox ul li:last-child {margin:0;}
.starRatingBox ul li {float:left;margin-right:13px;padding-left:13px;background:url('../images/common/bg_review.png') no-repeat 0 100%;}
.starRatingBox ul li span {float:left;margin-right:5px;font-weight:600;font-size:13px;letter-spacing:-0.025em;}
.starRatingBox ul li .starRating {float:left;}
.starRatingBox ul li .starRating  a {float:left;line-height:15px;font-size:18px;color:#ccc;text-decoration:none;letter-spacing:-1px;}
.starRatingBox ul li .starRating a.on {color:#ffd308;}

.titleBox .alignRight .txtCnt {font-size:13px;color:#666;}

.reviewReg textarea {padding:18px;width:100%;height:150px;line-height:24px;box-sizing:border-box;}

.defaultInputFileArea [type="file"] {position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border: 0 none;}
.defaultInputFileArea .file-label {display:inline-block;width:80px;height:28px;line-height:28px;text-align:center;vertical-align:top;border-radius:2px;background:#333;font-weight:600;font-size:12px;color:#fff;cursor:pointer;}
.defaultInputFileArea .file-name {width:auto;min-width:194px;height:28px;line-height:28px;box-sizing:border-box;-webkit-box-sizing:border-box;} /* 접근성 탭 포커스 스타일 */
.file-focus {outline:1px dotted #d2310e;}

/* 상품목록없음 */
.pdNoList {padding:115px 0;text-align:center;}
.pdNoList p {padding-top:150px;background:url('../images/common/ico_nolist.png') no-repeat 50% 0;font-weight:600;font-size:18px;color:#999;letter-spacing:-0.075em;}