@charset "utf-8";


/** 마이페이지 LNB AREA  **/
.myLnb {clear:both; margin-top:20px;}
.myLnb li {margin-bottom:20px; font-size:14px;}
.myLnb li a {display:block; color:#666;}
.myLnb li a:hover span , .myLnb li a:focus span , .myLnb li a.active span{color:#ff6c00; border-bottom:1px solid #ff6c00; font-weight:bold;}
.myLnb li a:hover span .icnWish , .myLnb li a:focus span .icnWish , .myLnb li a.active span .icnWish {background-position:-25px -297px;}



/** 마이페이지 CONTENTS AREA  **/
.orderStepBox {clear:both; border:1px solid #ddd; padding:20px 10px 20px 0; margin-top:20px;}
.orderStepBox p {display:inline-block; text-align:center; font-size:13px; color:#666; font-weight:bold; line-height:25px;}
.orderStepBox p.step {width:18.8%;}
.orderStepBox p.step em {font-size:16px; font-weight:bold; color:#333;}
.orderStepBox p.end {padding-left:40px; color:#333; border-left:1px solid #ddd; text-align:left;}
.orderStepBox p.end em {color:#ff6c00;}
.orderStepBox .arwStep {background:url('../images/arw_set.png') no-repeat -30px -530px; display:block; width:10px; height:19px; margin-bottom:10px;}
.orderStepBox .icnCancel {background:url('../images/icn_set.png') no-repeat 0 -342px; display:inline-block; width:14px; height:14px; vertical-align:middle;}
.orderStepBox .icnReturn {background:url('../images/icn_set.png') no-repeat -25px -342px; display:inline-block; width:14px; height:14px; vertical-align:middle;}


.orderTrackBox {clear:both; padding:15px 30px; margin-top:50px; background:#f8f8f8; position:relative;}
.orderTrackBox p {margin:6px 0; font-size:14px; color:#333; font-weight:bold;}
.orderTrackBox span.tit {display:inline-block; background:url('../images/bul_set.png') no-repeat 0 0; padding-left:8px; width:90px;}
.orderTrackBox p input.inpcalendar {background:url('../images/icn_calendar.png') no-repeat right; background-color:#fff; cursor:pointer; font-family:'Verdana','Malgun Gothic','맑은 고딕'; width:120px;}
.orderTrackBox .btnTrack {position:absolute; top:21px; left:527px; background:#333; width:100px; height:62px; color:#fff; border-radius:3px; behavior:url('../../resources/css/PIE.htc'); font-size:16px; font-weight:bold;}


.cancelWrite {padding-left:50px !important; display:none;}
.cancelBox {clear:both; text-align:left; margin:0 0 5px 0; margin-top:13px;}
.cancelBox:first-child {margin-top:0;}
.cancelBoxAll {clear:both; text-align:left; margin:10px 0;}
.cancelBox .tit {font-size:12px; color:#000; font-weight:bold; display:inline-block; margin-right:20px; float:left;}
.cancelBox .titWi {width:115px; margin-right:0;}
.cancelBox .bulCancel {display:inline-block; background:url('../images/bul_set.png') no-repeat 5px -110px; width:20px; height:20px; text-indent:-999999px;}
.cancelBox input {margin-left:7px;}
.cancelBox .coBlue {color:#7eb5f3; font-size:12px;}
.cancelBox .bul {background:url('../images/bul_set.png') no-repeat 0 -240px; padding-left:7px;}
.cancelBox .inpRa {display:block; margin-left:110px; margin-top:3px;}
.cancelBox .inpRa input {margin-right:4px;}
.cancelBox .txtWi {margin-left:119px; }

.countSelect {text-align:center; font-weight:bold; font-size:13px; color:#333; font-family:'Verdana','Malgun Gothic','맑은 고딕'; width:60px; padding-left:10px;}


/* 쿠폰등록 버튼 */
.btnCoupon {margin-top:-48px; float:left; margin-left:620px; border-left:1px solid #ddd; padding:7px 0 7px 70px;}



/** 기간조회 레이어 달력 **/
.calLayout{border:1px solid #999; background-color:#fff; position:absolute;display:none;z-index:8; font-size:12px; padding:7px; font-family:'Verdana';}
.calTitle{}
.calHeader{text-align:center;}
.calBody{text-align:center;}
.calDay{width:14.28%; line-height:25px; float:left; cursor:pointer;}
.calSunDay{width:14.28%; line-height:25px; float:left; cursor:pointer;color:#e25050;}
.calSatDay{width:14.28%; line-height:25px; float:left; cursor:pointer;	color:#508ee2;}
.calOtherDay{width:14.28%; line-height:25px;float:left; cursor:pointer;color:#CBC7BD;}
.dayToday{font-weight:bold; font-weight:bold; width:14.28%; line-height:25px; float:left; cursor:pointer; background:#ff6c00; color:#fff;}
.calSelDay{font-weight:bold; width:14.28%; line-height:25px; float:left; cursor:pointer; background:#f8f8f8; color:#ff6c00;}
.dayEvMon{width:14.28%; line-height:25px; float:left;cursor:pointer;}
.MonToday{width:14.28%; line-height:25px;  font-weight:bold; color:white;cursor:pointer;}
.selMon{width:14.28%; line-height:25px; font-weight:bold; text-decoration:underline;color:white;}
.calOnDay{background-color:#f8f8f8; color:#333; float:left;cursor:pointer;}
.calDaySpace{ float:left;}
.calDayBr{clear:both;height:2px;}
.calDayTitle{ width:14.28%; line-height:25px; float:left;	}
.divHeadOnRigth{color:pink;cursor:pointer;}
.todayBtn{clear:both; text-align:center; cursor:pointer; background-color:#333; color:#fff; line-height:25px; font-family:'Verdana'; border-radius:3px; letter-spacing:1px;}
.todayLay{position:relative; clear:both; padding-top:8px;}
.todayLay:after {content:""; display:block; clear:both;}


.calLayout select {height:25px; padding:0 0 0 5px; margin:0 2px;}
.calLayout .arwNext {width:23px; height:23px; background:url('../images/arw_set.png') no-repeat -25px -423px; text-indent:-999999px; display:block;}
.calLayout .arwPrev {width:23px; height:23px; background:url('../images/arw_set.png') no-repeat -25px -400px;  text-indent:-999999px; display:block;}





