@charset "utf-8";



/** 장바구니 > 주문/결제 > 주문완료  단계보기 **/
.cartStep {line-height:60px; font-size:16px; color:#999; font-weight:bold; overflow:hidden; height:60px;}
.cartStep .step1 {background:url('../images/img_cartStep.png') no-repeat 0 0; width:100%; height:60px;}
.cartStep .step2 {background:url('../images/img_cartStep.png') no-repeat 0 -60px; width:100%; height:60px;}
.cartStep .step3 {background:url('../images/img_cartStep.png') no-repeat 0 -120px; width:100%; height:60px;}
.cartStep li {float:left; width:32.33%; text-align:center; padding-left:1%;}
.cartStep li.on {color:#fff;}


/** 복수배송 단계보기 **/
.orderStep {line-height:60px; font-size:16px; color:#999; font-weight:bold; overflow:hidden; height:60px;}
.orderStep .step1 {background:url('../images/img_orderStep.png') no-repeat 0 0; width:100%; height:60px;}
.orderStep .step2 {background:url('../images/img_orderStep.png') no-repeat 0 -60px; width:100%; height:60px;}
.orderStep .step3 {background:url('../images/img_orderStep.png') no-repeat 0 -120px; width:100%; height:60px;}
.orderStep li {float:left; width:32.33%; text-align:center; padding-left:1%;}
.orderStep li.on {color:#fff;}



.cartTxt {font-size:13px; color:#666; padding:15px 15px 0 15px; line-height:20px;}
.cartTxt em {color:#333; font-weight:bold;}
.cartTxt p {background:url('../images/bul_set.png') no-repeat 0 0; padding-left:10px;}

.cartTxtEnd {background:#fff; text-align:center; font-size:18px; color:#333; line-height:25px; padding:30px 0; border:1px solid #ddd; border-top:none;}


/* 배송비 안내 레이어 팝업 */
.costLayer {top:50%; margin-top:-8px; right:48px; width:260px;}
.costLayer .txt2 {margin:0; padding-top:10px; font-size:13px; color:#666;}


.emptyCart {clear:both; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:18px; color:#333; padding:100px 0; text-align:center; margin-top:50px; color:#999;}


.orderInfo {clear:both; background:url('../images/bul_set.png') no-repeat 0 2px; padding-left:12px; font-size:16px; font-weight:bold; color:#333; text-align:left; margin:50px 0 -10px 0;}
.orderInfo .number {font-family:'Verdana','Malgun Gothic','맑은 고딕'; font-weight:bold; display:inline-block; border-bottom:1px solid #ff6c00; color:#ff6c00;}
.orderInfo .date {font-family:'Verdana','Malgun Gothic','맑은 고딕'; font-weight:bold; display:inline-block}
.orderInfo .line {font-size:14px; font-weight:normal; display:inline-block; margin:0 7px 0 10px;}



/* 주문하기 결제수단 */
.payInfoBox {border-top:1px solid #aaa; border-bottom:1px solid #ddd; position:relative; clear:both;}
.payInfoBox:after {content:""; display:block; clear:both;}
.payInfo {padding:20px 0 20px 20px; float:left;}
.payInfo button {display:inline-block; margin:0 2px; text-align:center; width:80px; line-height:26px; padding:0 0 2px 0; border-radius:3px; behavior:url('../../resources/css/PIE.htc'); position:relative; font-weight:bold; font-size:12px; vertical-align:middle;}
.payInfo button.btnPay {background-color:#333; color:#fff; width:155px; line-height:40px; font-size:14px;}
.payInfo button span.syrup {background:url('../images/btn_syrup.png') no-repeat 0 0; text-indent:-999999px; display:inline-block; width:155px; height:40px;}
.payInfo button.active span.syrup {background:url('../images/btn_syrup.png') no-repeat 0 -40px; text-indent:-999999px; display:inline-block; width:151px; height:36px;}
.payInfo button.active {border:2px solid #ff6c00; background-color:#fff; color:#ff6c00; line-height:36px; width:151px;}
.btnArea {padding-top:10px; text-align:left; padding-right:20px;}
.btnArea .btnGuide {background:#fff; color:#333; border:1px solid #ccc; width:118px; line-height:24px;}

.payInfoBox .boxArea {border:2px solid #ff6c00; padding:0 20px; color:#333; font-size:14px; font-weight:bold; float:right; width:455px; margin:20px 20px 20px 0; line-height:73px;}
.payInfoBox .boxArea .fr {color:#ff6c00;}
.payInfoBox .boxArea em {font-size:22px; color:#ff6c00; display:inline-block; color:#ff6c00; font-weight:bold;}


/* 주문하기 현금영수증 발행 */
.payReceiptBox {border-top:1px solid #aaa; border-bottom:1px solid #ddd; position:relative; clear:both; padding:20px 0 20px 20px; }
.payReceiptBox:after {content:""; display:block; clear:both;}
.payReceiptBox .radioArea input + label + input {margin-left:30px;}
.payReceiptBox .inputArea {padding:20px 0;}
.payReceiptBox .txt {color:#666; font-size:12px;}



/* 무형쿠폰 주문결제 쿠폰번호 발송 */
.couponSend {clear:both;}
.couponSend li {float:left; line-height:45px; border-right:1px solid #ddd; border-top:1px solid #ddd; width:49.8%; padding-bottom:3px;}
.couponSend li:first-child {border-top:none;}
.couponSend li:first-child+li{border-top:none; border-right:none;}
.couponSend li:first-child+li+li+li ,
.couponSend li:first-child+li+li+li+li+li ,
.couponSend li:first-child+li+li+li+li+li+li+li ,
.couponSend li:first-child+li+li+li+li+li+li+li+li+li ,
.couponSend li:first-child+li+li+li+li+li+li+li+li+li+li+li ,
.couponSend li:first-child+li+li+li+li+li+li+li+li+li+li+li+li+li ,
.couponSend li:first-child+li+li+li+li+li+li+li+li+li+li+li+li+li+li+li {border-right:none;}
.couponSend li span.tit {display:inline-block; width:100px; text-align:center;}
.couponSend li.none {text-indent:-9999999px;}
.couponSend li:nth-child(even) {border-right:none;}
.couponSend button {float:right; margin:10px 20px 0 0;}




