
    .JS_rollingItem { position:relative; width:85%; margin:0 auto 70px; }

    .JS_rollingItem h4 { position:relative; margin:0 auto 20px; text-align:center; font-size:20px; color:#111; }
    .JS_rollingItem h4 span { display:inline-block; margin:0 4px 0 0; font-size:13px; font-weight:400; color:#888; }

    .JS_rollingItem .img { position:relative; overflow:hidden; }
    .JS_rollingItem .img > li { position:absolute; left:0; top:0; width:100%; font-size:0; line-height:0; }
    .JS_rollingItem .img > li img { width:100%; }

    /* 하트아이콘 */
    .JS_rollingItem .img .wishIcon { position:absolute; z-index:5; display:block; top:10%; left:50%; margin-left:-25px; opacity:0; transition:all .3s ease; }
    .JS_rollingItem .img > li:hover .wishIcon { top:12%; opacity:1; }
    .JS_rollingItem .img .wishIcon span { display:block; width:50px; margin:0 auto; }
    .JS_rollingItem .img .wishIcon span img { width:100%; }


    /* 상품이미지 */
    .JS_rollingItem .img > li .img_wrap { display:block; width:100%; height:100%; /* border-radius:100%; -webkit-border-radius:100%; overflow:hidden; */ }
    .JS_rollingItem .img > li img { width:100%; }
    .JS_rollingItem .img .box { position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; margin:0; text-align:center; background:rgba(0,0,0,0.5); opacity:0; transition:opacity .3s ease; -webkit-transition:opacity .3s ease; /* border-radius:100%; -webkit-border-radius:100%; overflow:hidden; */ }
    .JS_rollingItem .img > li:hover .box { opacity:1; }
    .JS_rollingItem .img .box .info { position:relative; top:40%; color:#fff; text-align:center; line-height:17px; }
    .JS_rollingItem .img .box .info .name { display:block; max-height:37px; margin:0 0 5px; overflow:hidden; font-size:14px; color:#fff; letter-spacing:-0.02em; }
    .JS_rollingItem .img .info span { color:#fff !important; font-weight:normal !important; } /* 리스트 텍스트 설정 */

    .JS_rollingItem .view a { display:block; position:absolute; z-index:1; bottom:0px; width:100%; height:40px; line-height:40px; background:rgba(30,30,30,.9); font-size:14px; font-weight:bold; color:#fff; text-align:center; }

    /* 버튼 */
    .JS_rollingItem .btn { display:none; position:absolute; width:100%; bottom:-25px; text-align:center; }
    .JS_rollingItem .btn li { display:inline-block; width:7px; height:7px; line-height:7px; margin:0 3px; background:#aaa; border-radius:100%; -webkit-border-raidus:100%; transition:all .3s ease; -webkit-transition:all .3s ease; text-indent:-9999px/*번호생략*/; }
    .JS_rollingItem .btn li.on { background:#111; color:#fff; }

