
/**
    * 모바일쇼핑몰 슬라이딩메뉴
*/
    
    /* aside */
    #aside { z-index:-1; position:absolute; left:0px; top:0px; bottom:0; overflow:auto; overflow-x:hidden; min-width:225px; width:87%; font-size:11px; background-color:#fff; }
    
    #aside .aside_inside { width:90%; margin:20px auto; }
    
    /* 로그인전 문구 */
    #aside .intro { margin:0 0 15px; font-size:9px; letter-spacing:-0.03em; color:#888; }
    #aside .intro strong { display:block; font-size:13px; letter-spacing:0.08em; color:#333; }

    #aside .member_btn { height:35px; margin:0 0 20px; } 
    #aside .member_btn a { float:right; width:48%; height:35px; line-height:37px; border:1px solid #ddd; background-color:#fff; font-size:13px; text-align:center; }
    #aside .member_btn a.btnLogin { float:left; border:1px solid #000; background-color:#111; color:#fff; }
    #aside .member_btn a.btnLogout { float:left; border:1px solid #777; background-color:#888; color:#fff; }

    #aside .btnClose { position:absolute; top:5px; right:0; }
    #aside .btnClose { display:block; padding:13px; }



    .swiper_nav { position:relative; width:100%; margin:0 0 20px; padding:0 0 10px; border-bottom:1px solid #eee; }
    .swiper_nav_btn a { position:relative; display:block; float:left; width:33.33%; height:35px; border-bottom:1px solid #eee; text-align:center; line-height:39px; font-size:13px; font-weight:normal; color:#777; text-decoration:none; letter-spacing:-0.03em; transition:all .3s ease; }
    .swiper_nav_btn a.on { border-bottom:1px solid #111; color:#111; font-weight:bold; }
    .swiper_nav_container { height:100%; padding:5px 0 0; }

    /* 카테고리 리스트 */
    #aside .categoryList { font-size:14px; }
    #aside .categoryList ul { display:none; }
    #aside .categoryList li { position:relative; }
    #aside .categoryList li.selected > ul { display:block; }
    #aside .categoryList li.selected > a.cate { color:#333; }
    #aside .categoryList li.noChild > a.cate { background-image:none !important; }
    #aside .categoryList li.noChild:first-child > a.cate {  }
    #aside .categoryList li.selected.noChild { background-color:#fff; }
    #aside .categoryList > li.selected .slideSubMenu li { background-color:#fff; }
    #aside .categoryList > li { }
    #aside .categoryList > li:first-child { }
    #aside .categoryList > li > a.cate { background:url("/_wg/img/btn_plus.png") no-repeat 7px 50%; background-size:13px 13px; }
    #aside .categoryList > li.selected > a.cate { background-image:url("/_wg/img/btn_minus.png"); }
    #aside .categoryList > li > ul > li > a.cate { padding-left:42px; background:url("/_wg/img/btn_plus.png") no-repeat 22px 50%; background-size:13px 13px; }
    #aside .categoryList > li > ul > li.selected > a.cate { background-image:url("/_wg/img/btn_minus.png"); background-size:13px 13px; }
    #aside .categoryList > li > ul > li > ul > li > a.cate { padding-left:49px; background:url("/_wg/img/btn_plus.png") no-repeat 29px 50%; background-size:13px 13px; }
    #aside .categoryList > li > ul > li > ul > li.selected > a.cate { background-image:url("/_wg/img/btn_minus.png"); background-size:13px 13px; }
    #aside .categoryList > li > ul > li > ul > li > ul > li a.cate { padding-left:56px; }
    #aside .categoryList a.cate { display:block; padding:12px 90px 9px 27px; word-wrap:break-word; }
    #aside .categoryList a.view { position:absolute; right:10px; top:5px; width:26px; height:26px; line-height:28px; color:#fff; font-size:11px; font-weight:normal; background-color:#333; text-align:center; border-radius:100%; transition:transform .5s, opacity .5s ease; }
    #aside .categoryList a.view:hover { opacity:.4; transform:rotate(30deg); }
    #aside .categoryList li.noChild > a.view { display:none; }
    
    /* 게시판 리스트 */
    #aside .slide_board li { position:relative; }
    #aside .slide_board a.board { display:block; padding:12px 0 9px 15px; font-size:14px; word-wrap:break-word; color:#333; }
    #aside .slide_board a.view { position:absolute; right:10px; top:5px; width:26px; height:26px; line-height:28px; color:#fff; font-size:11px; font-weight:normal; background-color:#333; text-align:center; border-radius:100%; transition:transform .5s, opacity .5s ease; }
    #aside .slide_board a.view:hover { opacity:.4; transform:rotate(30deg); }
    
    /* 마이쇼핑 리스트 */
    #aside .slide_myshop li { position:relative; }
    #aside .slide_myshop a.menu { display:block; padding:12px 0 9px 15px; font-size:14px; word-wrap:break-word; color:#333; }
    #aside .slide_myshop a.view { position:absolute; right:10px; top:5px; width:26px; height:26px; line-height:28px; color:#fff; font-size:11px; font-weight:normal; background-color:#333; text-align:center; border-radius:100%; transition:transform .5s, opacity .5s ease; }
    #aside .slide_myshop a.view:hover { opacity:.4; transform:rotate(30deg); }
    

    /* 타이틀 */
    #aside h2 { position:relative; margin:0 0 5px; padding:0 34px 0 5px; line-height:35px; border-bottom:1px solid #eee; color:#333; font-size:12px; cursor:pointer; background:#fff; }
    #aside h2 .icoCategory { overflow:hidden; position:absolute; right:3px; top:5px; width:30px; height:25px; padding:0; border:0; text-indent:100%; white-space:nowrap; cursor:pointer; background:url("/_wg/img/btn_arrow_up_40_b.gif") no-repeat 50% 50%; background-size:25px 12px; }
    #aside h2.selected .icoCategory { background-image:url("/_wg/img/btn_arrow_down_40_b.gif"); }


    /* 배송국가 */
    #aside .multishop { padding:0 0 20px; border-bottom:1px solid #eee; }
    #aside .multishop .xans-layout-multishoplistmultioptioncountry li a { padding:9px 10px 11px 5px; font-size:11px; }
    
    /* 멀티쇼핑몰 */
    #aside .xans-multishop-listitem li { border-top:1px solid #fff; }
    #aside .xans-multishop-listitem li:first-child { border-top:0; }
    #aside .xans-multishop-listitem li a { display:block; padding:6px 0 6px 5px; word-wrap:break-word; }
    #aside .xans-multishop-listitem li a .name { font-size:11px; vertical-align:middle; }
    
    /* conatiner */
    #container {
        z-index:100; position:relative; overflow:hidden; margin-top:-1px; margin-left:-1px; background-color:#fff;
        -webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:300ms; transition:300ms;
        -webkit-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden;
    }
    
    /* btnFoldLayout */
    #btnFoldLayout {
        display:none; position:absolute; left:87%; top:0; right:0; bottom:0; width:100%; height:100%; opacity:0;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0); and -webkit-focus-ring-color:rgba(0, 0, 0, 0);
    }

    #aside .icoBookmark { display:none; }
