<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <title>조명뱅크</title>
    <!--@css(/layout/basic/css/common.css)-->
    <!--@css(/layout/basic/css/button.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    
    <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
    <!--@js(/layout/basic/js/common.js)-->
    
    <!--@import(/_wg/base.html)--><!-- 디자인웹굿 베이스 -->
</head>
<body id="main">
    <div module="Popup_MultiPopup">
        <!--
            $banner_popup_no =
            ※ 노출시킬 팝업의 ID를 숫자로 넣어주세요.
        -->
        {$popup}
    </div>
    <div module="Popup_MultiBanner">
        <!--
            $banner_popup_no =
            ※ 노출시킬 배너의 ID를 숫자로 넣어주세요.
        -->
        {$banner}
    </div>
    
    <div id="wrap">
		<div >
		  <a href="/"><img src="/_wg/img/topBanner190213.png" width="100%"></a>
		</div>        
        <div id="container">
            <!-- 헤더 -->
            <!--@import(/_wg/import/header_m.html)-->
        <!-- 좌측 숨김메뉴 -->
        <!--@import(/_wg/import/bar_left_m.html)-->
        
        <!-- 우측 숨김메뉴 -->
        <!--@import(/_wg/import/bar_right_m.html)-->
        
            <div id="contents">
                <!--@contents-->
            </div><hr class="layout">
            
            <!-- 푸터 -->
            <!--@import(/_wg/import/footer.html)-->
            
        </div>
    </div>
<script language="javascript">
    setInterval(function() {
        if($("#header").hasClass("fixed")){
            $(".d_etc18.left .d_toggle").addClass('fixed');
            $(".d_etc18.right .d_toggle").addClass('fixed');
        }else{
            $(".d_etc18.left .d_toggle").removeClass('fixed');
            $(".d_etc18.right .d_toggle").removeClass('fixed');
        }
    }, 500);
</script>    
</body>
</html>