<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <title>조명뱅크</title>
    <!--@css(/layout/basic/css/common.css)-->
    <!--@css(/layout/basic/css/button.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    
    <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
    <!--@js(/layout/basic/js/common.js)-->
    
    <!--@import(/_wg/base.html)--><!-- 디자인웹굿 베이스 -->
</head>
<body id="main">
    <div module="Popup_MultiPopup">
        <!--
            $banner_popup_no =
            ※ 노출시킬 팝업의 ID를 숫자로 넣어주세요.
        -->
        {$popup}
    </div>
    <div module="Popup_MultiBanner">
        <!--
            $banner_popup_no =
            ※ 노출시킬 배너의 ID를 숫자로 넣어주세요.
        -->
        {$banner}
    </div>
    
    <div id="wrap">
        
        <!-- 좌측 숨김메뉴 -->
        <!--@import(/_wg/import/bar_left_dev.html)-->
        
        <!-- 우측 숨김메뉴 -->
        <!--@import(/_wg/import/bar_right_dev.html)-->
        
        <div id="container">

            <!-- 헤더 -->
			<div style="z-index:1000">
			  <a href="/"><img src="/_wg/img/topBanner.jpg" width="100%" height="70"></a>
			</div>
			<!--@css(/_wg/css/header_dev.css)-->
			<header id="header">
				<div class="header_01_wrap">
				    <div class="header_01">
				        <ul>
				        	<li style="width:80%">
				        		<img src="/_wg/img/m_logo.png"  height="30" onclick="javascript:location.href='/'" id="m_logo">
				        	</li>
				            <li module="Layout_orderBasketcount"><a href="/order/basket.html?page=1"><img src="/_wg/img/icon_shoppinBag.png" height="28"> <span module="Layout_orderBasketcount" class="count{$basket_cnt}">{$basket_count}</span></a></li>
				        </ul>
				    </div>
					<!--@css(/_wg/css/searchHeader_dev.css)-->
				     <form id="searchBarForm" name="" action="/product/search.html" method="get" enctype="multipart/form-data">
						<input id="banner_action" name="banner_action" value="" type="hidden"><div class="xans-element- xans-layout xans-layout-searchheader searchHeader "><div class="searchForm">
									            <input id="keyword" name="keyword" fw-filter="" fw-label="검색어" fw-msg="" class="inputTypeText" placeholder="" onmousedown="SEARCH_BANNER.clickSearchForm(this)" value="" type="text" onfocusout="javascript:document.getElementById('keyword').value='';"></div>
					</div>
					</form>
				</div>
			</header>

            <div id="contents">
                <!--@contents-->
            </div><hr class="layout">
            
            <!-- 푸터 -->
            <!--@import(/_wg/import/footer.html)-->
            
        </div>
    </div>
</body>
</html>