/*    
    #goBtn { position:fixed; z-index:100; top:1px; right:0; width:0; height:0; }

    #goBtn .btn a { display:none; position:fixed; right:10px; width:40px; height:28px; padding:12px 0 0; background:rgba(0,0,0,.15); border-radius:5px; color:#000; font-size:15px; text-align:center; }
    #goBtn.fixed .btn a { display:block; }

    #goBtn .btn.up a { bottom:110px; }
    #goBtn .btn.down a { bottom:65px; }
 */
     
    #goBtn { position:fixed; z-index:100; top:1px; right:0; width:0; height:0; }
    #goBtn .btn a { position:fixed; right:-5px;}
    #goBtn.fixed .btn a { display:block; }
    #goBtn .btn.up a { bottom:110px; }
	
	#quickMenuBtn {position: fixed;z-index: 100;bottom: 0;width: 100%;height: 50px;background-color: #393939;}
    #quickMenuBtn ul{clear:both}
    #quickMenuBtn li{position:relative;width:20%;min-height:60px;height:60px;text-align:center;float:left;color:#fff;font-size:7pt;}