
    /*우측*/
    .d_etc18.right { display:none; position:fixed; right:0; top:0; width:270px; height:100%; background:#fff; z-index:289; }
    .d_etc18.right .d_content {position:relative; display:block; height:100%; padding:0 0 20px; font:12px 돋움; overflow-y:auto; -webkit-overflow-scrolling:touch; cursor:pointer; }

    /* 버튼 */
    .d_etc18.right .d_toggle { position:absolute; z-index:1; top:102px; left:-39px; width:39px; height:39px; margin-top:-25px; cursor:pointer;  }
    .d_etc18.right .d_toggle.fixed {top:32px;}
    .d_etc18.right .d_toggle.d_on { left:0; top:30px;}

    .d_etc18.right .d_toggle .btn_all { position:fixed; height:20px;bottom:25px;right:7.5%;}
    
    
    /* bar1 */
    .d_etc18.right .d_toggle .btn_01 { position:absolute; left:12px; opacity:0; -webkit-opacity:0;  }
    .d_etc18.right .d_toggle.d_on .btn_01 { top:19px; opacity:1; -webkit-opacity:1; transform:rotate(135deg); }
    /* bar2 */
    .d_etc18.right .d_toggle .btn_02 { position:absolute; left:12px; opacity:0; -webkit-opacity:0; }
    .d_etc18.right .d_toggle.d_on .btn_02 { top:19px; opacity:1; -webkit-opacity:1; transform:rotate(45deg); }

    .d_etc18.right .d_toggle .btn_03 { position:absolute; margin:5px 0 0 10px; opacity:0; -webkit-opacity:0; }
    .d_etc18.right .d_toggle.d_on .btn_03 { opacity:1; -webkit-opacity:1;}

    /* 퀵아이콘 */
    .SD_quickIco { display:block; }
    .SD_quickIco:after { content:""; display:block; *zoom:1; clear:both; }
 	.SD_quickIco .headerBg{height:35px;background: #393939;margin-bottom: 13px;}
 	
 	.SD_quickIco .contents {margin: 0 10px 0 10px;}
 	
 	.SD_quickIco .contents .conts_tit {font-weight:bold; font-size:14px;letter-spacing:-1px;margin-top: 20px;}
 	.SD_quickIco .contents .tab_line{width:100%;height:1px;border-bottom:1px solid #ddd;}
 	
    .SD_quickIco h4 { display:block; margin:0 0 15px; color:#333; font-weight:600; font-size:14px; line-height:17px; text-align:center; letter-spacing:0.1em; }


    /* 로그인/로그아웃/정보수정/회원가 */
    .d_content .intro { margin:10px 10px 15px; font-size:10px; letter-spacing:-0.03em; color:#888; font-weight:200; }
    .d_content .intro strong { display:block; margin:0 0 4px; font-size:13px; letter-spacing:0.08em; color:#333; }

    .d_content .member_btn { height:25px;padding-left:10px; } 
    .d_content .member_btn a { display:inline-block;width:35%; height:25px; line-height:25px; border:1px solid #777; background-color:#fff; font-size:13px; text-align:center; font-weight:400;}
    .d_content .member_btn a.btnLogin { background-color:#111; color:#fcff00; }
    .d_content .member_btn a.btnLogout { background-color:#888; color:#fff; }




/* 아이콘 퀵메뉴
    .SD_quickIco ul { display:block; letter-spacing:-4px; font-size:0; }
    .SD_quickIco li { display:inline-block; width:25%; margin:0 0 12px; text-align:center; font-size:10px; letter-spacing:-0.03em; font-weight:200; }
    .SD_quickIco li a { display:block; width:50px; height:50px; line-height:50px; margin:0 auto 5px; border-radius:12px; background:rgb(240,240,240); font-family:'xeicon'; font-size:22px; color:#555; }
  */  
    /*텍스트 퀵메뉴*/
    .SD_quickIco .contents .conts_table{margin:10px 0 20px 0;}
    .SD_quickIco .contents .conts_table ul{ clear:both;font-size:0;}
    .SD_quickIco .contents .conts_table li{ font-size: 13px;color: #333;font-weight:400;width: 32%;border: 1.4px solid #ddd;display: inline-block;text-align: center;line-height: 30px;height: 27px}

    .SD_quickIco .contents .conts_icon{margin:0 0 20px 0;}
    .SD_quickIco .contents .conts_icon ul{ clear:both;}
    .SD_quickIco .contents .conts_icon li{ width: 32%;display: inline-block;text-align: center;}
    