
    ._cs_center { dispaly:block; padding:10px 20px; }

    /* 퀵버튼 */
    ._cs_btn { display:block; clear:both; *zoom:1; display:block; margin:20px auto 20px; padding:0 0 20px; border-bottom:1px solid #eee; }
    ._cs_btn li { width:95%; margin:0 auto 5px; }
    ._cs_btn li a { display:block; height:40px; background:#333/*버튼색상*/; border:1px solid #111; border-radius:8px; line-height:40px; text-align:center; font-size:14px; color:#fff; } 

    ._cs_board { position:relative; display:block; clear:both; margin:0 0 40px; }
    ._cs_board > div { border-top:1px solid #eee; }
    ._cs_board h4 { margin:0 0 15px; font-size:13px; color:#111; }
    ._cs_board .line { width:15px; height:0; margin:0 0 20px !important; border-bottom:1px solid #555; }
    ._cs_board .more { position:absolute; display:block; top:0; right:0; width:60px; height:22px; line-height:24px; background:#333; border-radius:3px; font-size:11px; color:#fff; text-align:center; }
    ._cs_board ul { display:block; line-height:0; font-size:0; cursor:pointer; }
    ._cs_board ul:after { content:""; display:block; clear:both; *zoom:1; }
    ._cs_board li { border-bottom:1px solid #f0f0f0; line-height:30px; font-size:12px; }
    ._cs_board li.subject { float:left; width:78%; overflow:hidden; }
    ._cs_board li.subject a { margin:0 0 0 15px; color:#666; }
    ._cs_board li.subject img { margin:0 3px 0 0; vertical-align:middle; }
    ._cs_board li.date { float:right; width:22%; color:#999; font-size:11px; }
    
    ._cs_gallery { position:relative; display:block; clear:both; margin:0 0 40px; }
    ._cs_gallery h4 { margin:0 0 15px; font-size:13px; color:#111; }
    ._cs_gallery .line { width:15px; height:0; margin:0 0 20px !important; border-bottom:1px solid #555; }
    ._cs_gallery .more { position:absolute; display:block; top:0; right:0; width:60px; height:22px; line-height:24px; background:#333; border-radius:3px; font-size:11px; color:#fff; text-align:center; }
    ._cs_gallery li { margin:0 0 20px; }
    ._cs_gallery li .thumb { display:block; margin:10px 0; padding:0; text-align:center; }
    ._cs_gallery li .thumb img { width:100%; }
    ._cs_gallery li .description { display:block; padding:0 0 0 15px; font-size:12px; line-height:17px; color:#555; }
    ._cs_gallery li .subject { color:#333; }
    ._cs_gallery li .date { color:#999; font-size:11px; }