
    .footer_insta { position:relative; width:940px; margin:40px auto 50px; overflow:hidden; }
    .footer_insta .title { display:block; height:26px; line-height:26px; margin:0 0 15px; text-align:center; }
    .footer_insta .title .tit a { font-size:16px; color:#333; letter-spacing:0.07em; }
    .footer_insta .title .tit i { position:relative; top:4px; font-size:22px; }
    .footer_insta .title .tag { position:absolute; right:5px; }
    .footer_insta .title a { color:#666; font-size:12px; }
    .footer_insta .title a:hover { color:#111; text-decoration:none; }
    
    .footer_insta iframe { border:none; overflow:hidden; width:100%; height:175px }