
    .JS_mainBnr { position:relative; width:100%; height:500px; margin:0 auto 40px; overflow:hidden; }
    .JS_mainBnr .DB_imgSet { position:relative; z-index:1; }
    .JS_mainBnr .DB_imgSet li { position:absolute; top:0; left:50%; width:5000px; height:500px; margin-left:-2500px; text-align:center; }
    .JS_mainBnr .DB_imgSet li:first-child { z-index:1; }
    
    /* 페이지 버튼 */
    /*메뉴표시
    .JS_mainBnr .DB_arrow { position:absolute; z-index:2; bottom:32px; margin-left:3px; }
    .JS_mainBnr .DB_arrow span { position:relative; display:block; left:50%; width:5px; height:5px; margin-left:3px; background:#333; border-radius:100%; -webkit-border-radius:100%; }
    .JS_mainBnr .DB_menuSet { position:absolute; z-index:3; left:5px; width:100%; bottom:10px; text-align:center; letter-spacing:-5px; font-size:0; line-height:0; }
    .JS_mainBnr .DB_menuSet li { display:inline-block; *display:inline; *zoom:1; width:25px; height:15px; margin:0 3px; padding:15px 0 0; cursor:pointer; font-size:0; }
    .JS_mainBnr .DB_menuSet li span { display:block; height:2px; background:#aaa; }
    .JS_mainBnr .DB_menuSet li:hover span { background:#333; }
    .JS_mainBnr .DB_menuSet li.DB_select span { background:#333; }
    .JS_mainBnr .DB_menuSet li.DB_select { width:45px; }
    */

    /* 화살표 */
    .JS_mainBnr .DB_dir { position:absolute; z-index:10; left:50%; top:50%; width:1260px; margin-left:-630px; margin-top:-32px; height:0; cursor:pointer; }
    .JS_mainBnr .DB_prevBtn { position:absolute; top:6px;left:20px; width:54px; height:54px; background:url('/_wg/img/arrowLW_35.gif') no-repeat 50% 50% #a8a8a8; transition:all .3s ease; -webkit-transition:all .3s ease;border-radius: 50%; }
    /*.JS_mainBnr:hover .DB_prevBtn { left:10px; opacity:1.0; -webkit-opacity:1.0; }*/
    .JS_mainBnr:hover .DB_prevBtn:hover { opacity:.4; -webkit-opacity:.4; }
    .JS_mainBnr .DB_nextBtn { position:absolute; top:6px;right:20px; width:54px; height:54px; background:url('/_wg/img/arrowRW_35.gif') no-repeat 50% 50% #a8a8a8;   transition:all .3s ease; -webkit-transition:all .3s ease;border-radius: 50%; }
    /*.JS_mainBnr:hover .DB_nextBtn { right:10px; opacity:1.0; -webkit-opacity:1.0; }*/
    .JS_mainBnr:hover .DB_nextBtn:hover { opacity:.4; -webkit-opacity:.4; }


    /* 1265px 이하 */
    @media all and (max-width:1265px){
        .JS_mainBnr .DB_dir { width:980px; margin-left:-490px; }
    }