
    .JS_quickBnr { position:relative; width:200px; height:120px; margin:20px auto; }
    .JS_quickBnr .label { position:absolute; z-index:10; width:63px; left:-13px; top:-13px; }

    .JS_quickBnr .img { position:relative; display:block; width:100%; height:100%; overflow:hidden; text-align:center; }
    .JS_quickBnr .img li { position:absolute; width:100%; }
    .JS_quickBnr .img li:first-child { z-index:1; }
    
    /* 버튼 */
    .JS_quickBnr .btn { position:absolute; z-index:1; bottom:10px; width:100%; text-align:center; font-size:0; letter-spacing:-4px; opacity:0; -webkit-opacity:0; transition:all .5s ease; -webkit-transition:all .5s ease; }
    .JS_quickBnr:hover .btn { opacity:1.0; -webkit-opacity:1.0; }
    .JS_quickBnr .btn li { display:inline-block; *display:inline; *zoom:1; width:6px; height:6px; margin:0 2px; border-radius:10px; background:#aaa; cursor:pointer; font-size:0; background:#aaa; transition:width .3s ease; -webkit-transition:width .3s ease; }
    .JS_quickBnr .btn li.on { width:12px; height:6px; background:#111; }

    /* 화살표 */
    .JS_quickBnr .arrow_wrap { position:absolute; z-index:10; top:0; right:0; width:21px; height:0; cursor:pointer; opacity:0; -webkit-opacity:0; transition:all .3s ease; -webkit-transition:all .3s ease; }
    .JS_quickBnr:hover .arrow_wrap { opacity:1; -webkit-opacity:1; }

    .JS_quickBnr .arrow { position:absolute; width:21px; height:21px; transition:all .3s ease; -webkit-transition:all .3s ease; }

    .JS_quickBnr .prev { top:-5px; background:url('/_wg/img/arrowVLW_15.gif') no-repeat 50% 50% rgba(0,0,0,.2); }
    .JS_quickBnr:hover .prev { top:0px; }
    .JS_quickBnr .prev:hover { background:url('/_wg/img/arrowVLW_15.gif') no-repeat 50% 50% rgba(0,0,0,.4); }

    .JS_quickBnr .next { top:16px; background:url('/_wg/img/arrowVRW_15.gif') no-repeat 50% 50% rgba(0,0,0,.2); }
    .JS_quickBnr:hover .next { top:21px; }
    .JS_quickBnr .next:hover { background:url('/_wg/img/arrowVRW_15.gif') no-repeat 50% 50% rgba(0,0,0,.4); }