
    #JS_topMenu { position:relative; float:right; z-index:10; }
    #JS_topMenu a { display:block; text-decoration:none; }

    #JS_topMenu .d1 { position:relative; float:left; background:url("/_wg/img/bar_ddd.gif") 0 16px no-repeat; }
    #JS_topMenu .d1:first-child { background:none; }
    #JS_topMenu .d1 > a { height:39px; padding:0 7px 1px 8px;  font-size:11px; line-height:39px; color:#333/*마우스아웃 메뉴컬러*/; letter-spacing:0.08em; transition:all .3s ease; -webkit-transition:all .3s ease; }
    #JS_topMenu .d1 > a:hover,
    #JS_topMenu .d1.on > a {  font-weight:bold; color:#000; }
    #JS_topMenu .d1 .count { margin:0 0 0 3px; padding:3px 5px; background:#777; border-radius:4px; text-align:center; color:#fff; font-size:10px; font-weight:400; }

    #JS_topMenu .d2_wrap { display:none; position:absolute; top:40px; left:50%; margin:0 0 0 -65%; padding:7px 0; border:1px solid #ddd; background:#fff; font-size:11px; }
    #JS_topMenu .d2_wrap .d2 { position:relative; display:block; }
    #JS_topMenu .d2_wrap .d2:first-child > a { border-top:none; }
    #JS_topMenu .d2_wrap .d2 > a { height:25px; line-height:25px; margin:0 10px; padding:0 12px; border-top:1px solid #eee; color:#555; font-size:11px; white-space:nowrap; }
    #JS_topMenu .d2_wrap .d2 > a:hover,
    #JS_topMenu .d2_wrap .d2.on > a { background:#f4f4f4; color:#111; }
    /*
    #JS_topMenu .d2_wrap .d2.arrow > a{background:url('images/arrow.png') no-repeat 90% center #ffffff}
    #JS_topMenu .d2_wrap .d2.arrow.on > a{background:url('images/arrow_on.png') no-repeat 90% center #8b0000}
    */
    
    #JS_topMenu .d3_wrap { display:none; position:absolute; top:5px; left:90px; width:100px; padding:7px 0; border:1px solid #ddd; background:#fff; }
    #JS_topMenu .d3_wrap li { display:block; }
    #JS_topMenu .d3_wrap li:first-child { }
    #JS_topMenu .d3_wrap li a { height:22px; padding:0 0 0 10px; line-height:23px; color:#555; font-size:11px; }
    #JS_topMenu .d3_wrap li a:hover,
    #JS_topMenu .d3_wrap li.on a { background:#f4f4f4; color:#111; }


    /* 멀티쇼핑몰 */
    #JS_topMenu ._multishop img { position:relative; top:12px; margin:0 7px 0 0; }
	#JS_topMenu ._multishop > .d2_wrap { z-index:10; width:150px!important; }
    #JS_topMenu ._multishop > .d2_wrap > li.selected { background:#f4f4f4; }
	#JS_topMenu ._multishop > .d2_wrap a img { top:5px!important; }
	#JS_topMenu ._multishop > .d2_wrap .name { display:inline-block; width:70px; }
	#JS_topMenu ._multishop > .d2_wrap .unit { display:inline-block; width:25px; font-size:10px; }

    
    /* 움직이는 아이콘 */
    #JS_topMenu .point_ico { position:absolute; top:32px; left:1px; width:60px; height:23px; line-height:23px; background:rgb(51,51,51); background:url('/_wg/img/mileage_bg.png') no-repeat \9; border-radius:5px; font-weight:bold; font-size:10px; letter-spacing:0; text-align:center; color:#fff; filter:alpha(opacity=100); opacity:1; -webkit-opacity:1; transition:all .8s .5s ease !important; -webkit-transition:all .8s .5s ease !important; }
    #header_01.fixed #JS_topMenu .point_ico { top:20px; filter:alpha(opacity=0); opacity:0; -webkit-opacity:0; transition-delay:.8s; -webkit-transition-delay:.8s; }


