
    .xans-product-normalmenu { }
    .xans-product-normalmenu .title { margin:0 0 17px; }
    .xans-product-normalmenu .title h2 { font-weight:400; font-size:20px; color:#333; text-align:center; }

    .xans-product-normalmenu .function { height:40px; line-height:40px; margin:0 0 40px; text-align:right; border-bottom:1px solid #ddd; background:#fff; }

    /* 상품개수 */
    .xans-product-normalmenu .prdCount { float:left; padding:0 0 0 15px; line-height:30px; }
    .xans-product-normalmenu .prdCount strong { display:inline-block; margin:0 10px 0 0; padding:0 15px; background:#333; border-radius:5px; -webkit-border-radius:5px; font-size:13px; color:#fff; text-align:center; }
    
    /* 상품정렬버튼 */
    .xans-product-normalmenu ul#type { display:inline; letter-spacing:-4px; }
    .xans-product-normalmenu ul#type li { position:relative; top:-1px; display:inline-block; *display:inline; *zoom:1; }
    .xans-product-normalmenu ul#type li:last-child { border-right:1px solid #ddd; }
    .xans-product-normalmenu ul#type li a { display:block; margin:0 0 0 -1px; padding:0 15px; border-top:1px solid #ccc; border-left:1px solid #ddd; border-bottom:1px solid #ddd; background:url('/_wg/img/bg_slash_b.png') #fafafa; letter-spacing:0; text-align:center; transition:background .3s ease; -webkit-trasition:background .3s ease; }
    .xans-product-normalmenu ul#type li a:hover { height:41px; text-decoration:none; background:#fff; border-bottom:none; }
    .xans-product-normalmenu ul#type .sort { height:41px; background:#fff; border-bottom:none; font-weight:bold; }
    .xans-product-normalmenu ul#type .sort:hover { background:#fff; }

    /* 상품비교버튼 */
    .xans-product-normalmenu .compare { position:relative; top:-1px; left:-1px; display:inline-block; height:40px; border-top:1px solid #bbb; border-right:1px solid #bbb; background:url('/_wg/img/bg_slash_w.png') #ddd; transition:all .3s ease; -webkit-trasition:all .3s ease; }
    .xans-product-normalmenu .compare:hover { background:url('/_wg/img/bg_slash_w.png') #ccc; }
    .xans-product-normalmenu .compare a { display:block; padding:0 15px 0 45px; background:url('/_wg/img/compare_ico.png') no-repeat 15px 10px; color:#333; }
    .xans-product-normalmenu .compare a:hover { text-decoration:none; }
