
/*****************************************************************************************************************************************************

    ### 디자인 ON/OFF 설정 ###

    • 수정전 반드시 백업 또는 스킨 복사를 해두시기 바랍니다.
    • 해당 페이지에서 옵션 변경으로 디자인을 선택적으로 사용하실 수 있습니다.
    • 사용 [ display:block; ], 미사용 [ display:none; ] 으로 디자인의 사용유무를 선택 가능합니다.
    • display:none; 으로 안되면 display:none!important; 로 넣어주세요.
    • 상품이 진열된 곳은 상품을 진열 안하시면 노출되지 않습니다.
    • 아래 내용에 없는 부분은 html상에서 직접 수정하셔야되겠습니다.

*****************************************************************************************************************************************************/



/** 상단 디자인 **/

    /* 상단 > 최상단숨김배너 */
    .JS_topBnr_roll { display:block; }

    /* 상단 > SNS 아이콘 */
    .sns_icon { display:block; }

    /* 상단 > +3000P 아이콘 */
    .point_ico { display:block; }

    /* 상단 > 스마트서치 버튼 (SMART SEARCH) */
    #JS_searchBtn { display:block; }

    /* 상단 > 스마트서치 버튼 > 브랜드 리스트 */
    #brand_list { display:block; }

    /* 상단 > 헤더배너 (상단좌측) */
    .JS_headerBnr { display:block; }

    /* 상단 > 헤더배너2 (상단우측) */
    .JS_headerBnr2 { display:block; }

    /* 상단 > 전체카테고리버튼 */
    #d_full_btn { display:block; }

    /* 상단 > 전체카테고리버튼 (HTML버젼) - 사용안함 */
    #category_full_m { display:none; }

    /* 상단 > 브랜드버튼 */
    .categorySub.brand { display:block; }

    /* 상단 > 브랜드 로고 롤링 */
    .JS_brandLogo { display:block; }

    /* 상단 > 추가메뉴1 - 사용안함 */
    .categorySub.m01 { display:none; }

    /* 상단 > 신상품버튼 (상품분류 메뉴중 첫번째 메뉴) */
    .new_item { display:block; }

    /* 상단 > 상품분류메뉴 */
    #category-lnb { display:block; }

    /* 상단 > 추가메뉴2 */
    .categorySub.m02 { display:block; }

    /* 상단 > 타임세일 */
    .time_sale { display:block; }

    /* 상단 > 카탈로그 */
    .lookbook { display:block; }




/** 메인 디자인 **/

    /* 메인 > 섹션1 (공지사항 있는 라인전체) */
    .SD_23165_01 { display:block; }

    /* 메인 > 섹션2 (WEEKLY HOT ITMES 부분) */
    .SD_23165_02 { display:block; }

    /* 메인 > 슬라이드배너1 (섹션2 우측 3장배너) */
    .JS_23165_01 { display:block; }

    /* 메인 > 탭롤링아이템 */
    #JS_tabRolling1 { display:block; }

    /* 메인 > JS_23165_05 (메인중앙 5장배너) */
    .JS_23165_05 { display:block; }

    /* 메인 > 와이드배너 */
    .JS_wideBnr { display:block; }

    /* 메인 > 서비스배너팩1 */
    .SD_spBnr_01 { display:block; }



/** 하단 디자인 **/

    /* 하단 > 하단배너 */
    .SD_footerBnr { display:block; }

    /* 하단 > 인스타그램 */
    .instafeed_wrap { display:block; }

    /* 하단 > 아이콘 */
    .footer_ico { display:block; }



/** 우측 디자인 **/

    /* 우측 > 우측숨김바 */
    .d_etc18.right { display:block; } /* 사용안함 display:none!important; */

    /* 우측 > 우측숨김바 > 네이버톡톡 */
    .naver.Btn { display:block; }

    /* 우측 > 퀵배너 */
    .JS_quickBnr { display:block; }

    /* 우측 > 퀵공지사항 */
    .JS_quickNotice { display:block; }

    /* 우측 > 퀵아이콘 */
    .quickIco { display:block; }



/** 기타 디자인 **/

    /* 기타 > 상품리스트 > 세일할인율 */
    .discount_rate { display:block; }

    /* 기타 > 상품리스트 > 좋아요 (엄지척) */
    .-likeButton { display:block; }

    /* 기타 > 상품리스트 > 새창보기 */
    .thumbnail .zoom { display:block; }

    /* 기타 > 상품리스트 > 장바구니 */
    .thumbnail .basket { display:block; }

    /* 기타 > 상품리스트 > 옵션보기 */
    .thumbnail .option { display:block; }

    /* 기타 > 상품리스트 > 관심상품 */
    .thumbnail .wishIcon { display:block; }

    /* 기타 > 좌측하단 팝업 배너 */
    .JS_layerBnr_position { left:0px; } /* 사용안함 left:-9999px; 으로 변경 */

    /* 기타 > 최근본상품 */
    .productRecent { display:block; }

    /* 기타 > Design by WG */
    .made { display:block; }



/** 상세페이지 디자인 **/

    /* 상세페이지 > 상세페이지배너 */
    .JS_detailBnr { display:block; }

    /* 상세페이지 > 네이버톡톡 */
    .p_naverTalk { display:block; }

    /* 상세페이지 > 옐로우아이디 */
    .p_YellowID { display:block; }

    /* 상세페이지 > SNS홍보 (페이스북,트위터) */
    .snsIco { display:block; }

    /* 상세페이지 > 상세페이지 기타버튼 (추천메일,상품조르기,대량구매) */
    .etcBtn { display:block; }

    /* 상세페이지 > 상세페이지 이미지 정보 */
    .detail_img_info { display:block; }

    /* 상세페이지 > 샘플 네이버페이(셋팅후삭제) */
    .NaverChk_Button { display:none; }


