
    .titImg_wrap { position:relative; display:block; width:100%; height:300px; margin:0 auto 30px; overflow:hidden; }
    .titImg_wrap .titImg { position:relative; }
    .titImg_wrap .titImg li { position:absolute; top:0; left:50%; width:1260px; height:100%; margin-left:-630px; }
    .titImg_wrap .titImg li img { width:100%; }

    .titleArea { width:1260px; margin:0 auto !important; }
    
    .page_info { width:1260px; margin:20px auto; overflow:hidden; }
    /* 1265px 이상 */
    @media all and (max-width:1265px){
        .titImg_wrap { height:233px; }
        .titImg_wrap .titImg li { width:980px; margin-left:-490px; }
    
        .titleArea { width:980px; }
    
        .page_info { width:980px; }
        .page_info img { width:100%; }
    }