
    .JS_rollingItem { position:relative;  margin:0 auto 80px; padding:20px 0 0; overflow:hidden; font-size:0; }
    .JS_rollingItem h2 { position:relative; margin:0 auto 30px; text-align:center; font-size:20px; color:#111; }
    .JS_rollingItem h2 span { display:block; margin:0 0 3px; text-align:center; font-size:13px; font-weight:400; color:#888; }

    .JS_rollingItem .DB_mask { position:relative; display:block; width:100%/*이미지전체*/; margin:0 auto; padding:10px 0; height:300px; overflow:hidden; }
    .JS_rollingItem .DB_imgSet { position:absolute; left:50%; margin-left:-830px; }
    .JS_rollingItem .DB_imgSet > li { display:inline-block; *display:inline; *zoom:1; width:300px; margin-right:20px; border:1px solid #eee; }
    .JS_rollingItem .DB_imgSet > li a { display:block; }
    .JS_rollingItem .DB_imgSet > li .thumbnail { display:block; /* width:300px; height:300px; border-radius:100%; -webkit-border-radius:100%; overflow:hidden; */ }
    .JS_rollingItem .DB_imgSet > li img { width:100%; }

    .JS_rollingItem .box { position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; margin:0; text-align:center; /*background:rgba(0,0,0,0.6)*/; background:url('/_wg/img/trans60.png'); opacity:0; /* border-radius:100%; -webkit-border-radius:100%; */ }
    .JS_rollingItem .DB_imgSet > li:hover .box { opacity:1; }
    .JS_rollingItem .box .info { position:relative; top:40%; color:#fff; text-align:center; }
    .JS_rollingItem .box .info .name { display:block; max-height:37px; margin:0 0 5px; padding:0 10px; letter-spacing:-0.02em; line-height:17px; font-size:12px; overflow:hidden; text-decoration:none; }
    .JS_rollingItem .box .info li {  line-height:16px; text-align:center; }
    .JS_rollingItem .box .info span { color:#fff !important; font-weight:normal !important; } /* 리스트 텍스트 설정 */

    /* 꾸미기 아이콘 */
    .JS_rollingItem .prdIcon { position:absolute; z-index:5; top:0; left:-8px; width:80px; height:50px; background-repeat:no-repeat; }

    .JS_rollingItem .wishIcon { position:absolute; z-index:5; display:block; top:10%; left:50%; margin-left:-25px; opacity:0; transition:all .3s ease; cursor:pointer; }
    .JS_rollingItem .DB_imgSet > li:hover .wishIcon { top:12%; opacity:1; }
    .JS_rollingItem .wishIcon span { display:block; width:50px; margin:0 auto; }
    .JS_rollingItem .wishIcon span img { width:100%; }

    .JS_rollingItem .arrow { position:absolute; z-index:10; top:-10px; width:50px; height:100px; text-indent:-9999px; cursor:pointer; opacity:0.1; transition:0.3s; }
    .JS_rollingItem:hover .arrow { opacity:1; transition:0.3s; margin-left:0; margin-right:0; }
    .JS_rollingItem .DB_prevBtn { left:50px;background:url('/_wg/img/arrowL_50.gif') no-repeat center; margin-left:5px; }
    .JS_rollingItem .DB_nextBtn { right:50px;background:url('/_wg/img/arrowR_50.gif') no-repeat center; margin-right:5px; }