
    .SD_headerSearch { position:relative; }


    .SD_headerSearch .search_form { margin:0 0 15px; padding:0 0 15px; border-bottom:1px solid #eee; }
    .SD_headerSearch .search_form :after { content:""; display:block; *zoom:1; clear:both; }
    .SD_headerSearch .search_form h2 { display:block; margin:10px 0 25px; font-size:19px; text-align:center; letter-spacing:.7em; }
    .SD_headerSearch .search_form fieldset { margin:0 0 0px; border:4px solid #333; height:50px}
    .SD_headerSearch .search_form fieldset:hover { }
    .SD_headerSearch .search_form #keyword { width:800px; height:50px; line-height:47px; margin:0 0 0 20px; background:none; border:none; font-size:17px/* 글자크기 */; color:#111/* 글자색 */; letter-spacing:0; vertical-align:middle; text-align:center; transition:all .3s ease; -webkit-transition:all .3s ease; }
    .SD_headerSearch .search_form #keyword:focus {  }
    .SD_headerSearch .search_form input[type=image] { margin:0; border:0; background:#333/* 버튼색상 */; }
    .SD_headerSearch .search_form input[type=image]:hover { background:#888/* 버튼색상 */; }
    .SD_headerSearch .search_form input[type=image] { width:40px; height:40px; border:0; cursor:pointer; }



    .SD_headerSearch h4 { display:inline-block; margin:0 10px 0 0; font-size:12px; color:#333; line-height:25px; }
    .SD_headerSearch h4 i { display:inline-block; line-height:25px; color:#333; font-weight:bold; vertical-align:top; font-size:11px; }

    /* 판매가격대 */
    .SD_headerSearch .price { float:left; }
    .SD_headerSearch .price input[type=text] { margin:0 2px; }

    /* 검색기준 */
    .SD_headerSearch .order { float:right; }

    /* 인기검색어 */
    .SD_headerSearch .serch_keyword { position:relative; display:block; margin:0 20px 8px; line-height:25px; }
    
    .SD_headerSearch .serch_keyword h4 { padding:0 12px 0 9px; border-radius:5px; background:#222; color:#fff; font-weight:normal; vertical-align:top; }
    .SD_headerSearch .serch_keyword h4 i { margin:0 3px 0 0; color:#fff; font-size:13px; }
    .SD_headerSearch .serch_keyword > ul { display:inline-block !important; width:700px; }
    .SD_headerSearch .serch_keyword > ul > li { float:left; margin:0 12px 0 0; padding:0 14px 0 0; background:url('/_wg/img/bar_ddd.gif') no-repeat right 8px; font-size:12px; }
    .SD_headerSearch .serch_keyword > ul > li:last-child { background:none; }
    .SD_headerSearch .serch_keyword > ul > li a { display:block; color:#555; }
    .SD_headerSearch .serch_keyword > ul > li a:hover { color:#000; text-decoration:none; font-weight:700; }

	 .recomm_hash a{font-size:16px;text-decoration:none;color:#3e3e3e}
	 .recomm_hash{position:relative;padding:15px 20px 25px 20px;float:left;width:100%;min-height:220px}
	 .recomm_hash .tit{font-size:16px;padding-bottom:10px}
	 .recomm_hash .tit strong{position:relative}
	 .recomm_hash .tit strong:after{position:absolute;right:-8px;top:0;border-radius:50%;width:6px;height:6px;background-color:#ff5b59;content:''}
	 .recomm_hash .tit em{color:#ff5b59}
	  
	  /* 가격별 추천조명검색*/
	 .recomm_hash .price_lst{margin-bottom:27px;max-height:135px;overflow:hidden;font-size:0;font-weight:bold;}
	 .recomm_hash .price_lst:last-child{margin-bottom:0}
	 .recomm_hash .price_lst > ul { display:inline-block !important;height:44px }
	 .recomm_hash .price_lst > ul > li{display:inline-block;vertical-align:top;*display:inline}
	 .recomm_hash .price_lst > ul > li a{display:inline-block;margin:6px 45px 35px 13px;line-height:18px}
	 .recomm_hash .price_lst > ul > li a:hover{border-bottom:3px solid #333;padding-bottom:3px;text-decoration:none}	 
	 
	 .recomm_hash .recomm_lst{margin-bottom:27px;max-height:135px;overflow:hidden;font-size:0;font-weight:bold;}
	 .recomm_hash .recomm_lst:last-child{margin-bottom:0}
	 .recomm_hash .recomm_lst > ul { display:inline-block !important; }
	 .recomm_hash .recomm_lst > ul > li{display:inline-block;vertical-align:top;*display:inline}
	 .recomm_hash .recomm_lst > ul > li a{display:inline-block;margin:0 15px 9px 0;border:1px solid rgb(170,170,170);border-radius:30px;padding:6px 15px 3px 13px;line-height:18px;text-align: center;}
	 .recomm_hash .recomm_lst > ul > li a:hover{color:#ffffff;border:1px solid #333;background-color:#333;text-decoration:none}
	 
	 .recomm_hash .color_lst{margin:0 10px 0px; border-top:1px solid #eee;height:70px}
	 .recomm_hash .color_lst:last-child{margin-bottom:0}
	 .recomm_hash .color_lst > ul { display:inline-block !important;}
	 .recomm_hash .color_lst > ul > li{display:inline-block;vertical-align:top;*display:inline;margin-right:30px}
	 .recomm_hash .color_lst > ul > li a{display:inline-block;}
	 .recomm_hash .color_lst > ul > li a:hover{border-bottom:3px solid #f7ee3b;text-decoration:none}		 
	 