    .search_section { position:relative; float:right; height:26px; margin:7px 0 0 5px; }
    
    /* 검색창 */
    .search_section .search_form { position:relative; z-index:2; }
    .search_section .search_form #keyword { position:relative; width:106px; height:26px; line-height:28px; margin:0 -1px 0 0; padding:0 5px 0 15px; border:none; border-radius:5px 0 0 5px; background:#eee; font-size:12px; color:#333; transition:all .3s ease; -webkit-transition:all .3s ease; }
    .search_section .search_form:hover #keyword { background:#ddd; }
    .search_section .search_form #keyword:focus { background:#ddd; }
    .search_section .search_form input[type=image] { position:relative; border-radius:0 5px 5px 0; background:#eee; }
    .search_section .search_form input[type=image]:hover { background:#ddd; }


    /* 스마트서치 버튼 */
    #JS_searchBox { display:none; position:fixed; z-index:9999; top:100px; width:880px; margin:0 0 0 -40px; padding:20px 40px; border-radius:5px; background:rgba(255,255,255,.98); box-shadow:0 0 15px rgba(0,0,0,0.15);}	
    #JS_searchBox .DB_close { }

    /*라이트박스*/
    #d_lightBox { display:none; position:fixed; z-index:9998; left:0; top:0; width:100%; height:100%; background:url('/_wg/img/trans60.png'); }


   /* 1265px 이하 */
    @media all and (max-width:1265px){
        .search_section .search_form #keyword { width:70px; }
    }