
    /*************************************************************************************************

        디자인웹굿 추가 CSS 

    *************************************************************************************************/


    body#main { background:#fff; }

    .-frame { position:relative; width:1260px; margin:0 auto; *zoom:1; }
    .-frame:after { content:""; display:block; clear:both; *zoom:1; }

    /* 1265px 이하 */
    @media all and (max-width:1265px){
        .-frame { width:980px; }
    }

    .displaynone { display:none; }
    .divClear { position:relative; display:block; clear:both; }
    .divClear:after { content:""; display:block; clear:both; *zoom:1; }

    .-mov {
        -khtml-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .-mov:hover {
        -khtml-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }


    /* 스프링 x축 */
    .-spring_x {
        transition:all .3s ease; -webkit-transition:all .3s ease;
        animation-name:spring_x;
        animation-duration:3.5s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-direction:normal;
        -webkit-animation-name:spring_x;
        -webkit-animation-duration:3.5s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction:normal;
    }
    @keyframes spring_x {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(4px,0px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(4px,0px) }
        100% { transform:translate(0px,0px) }
    }
    @-webkit-keyframes spring_x {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(0px,4px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(0px,4px) }
        100% { transform:translate(0px,0px) }
    }

    /* 스프링 y축 */
    .-spring_y {
        transition:all .3s ease; -webkit-transition:all .3s ease;
        animation-name:spring_y;
        animation-duration:3.5s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-direction:normal;
        -webkit-animation-name:spring_y;
        -webkit-animation-duration:3.5s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction:normal;
    }
    @keyframes spring_y {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(0px,4px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(0px,4px) }
        100% { transform:translate(0px,0px) }
    }
    @-webkit-keyframes spring_y {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(0px,4px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(0px,4px) }
        100% { transform:translate(0px,0px) }
    }


    .d_clear { clear:both; }

    /* XEICON */
    body i { position:relative; top:1px; }

	/*메인 타이틀*/
	.maint_Tit{margin: 80px auto 30px; width: 1260px; text-align: center;font-size:19pt;font-weight:bold;}
	.maint_Tit .stit {color:red;}
 	.maint_Tit_more{margin: -60px auto 30px; width: 1260px; text-align:right;font-size:12pt;font-weight:bold;}
 	
 	/*USER BEST 타이틀*/
 	.mainReview_Tit{margin: 80px auto 0px; width: 1260px; text-align: center;font-size:27pt;font-weight:bold;}
 	.mainReview_Tit .stit {color:red;}
 	.mainReview_Desc {font-size:15px;text-align:center}
 	
	/*파격특가 매진임박 아이콘*/
	.soldout { position:absolute; z-index:5; text-align:center; vertical-align:middle; cursor:pointer; }
	.soldout.ico01 {top:15px;left:15px; width:40px; height:40px; line-height:40px;  font-size:11px; filter:alpha(opacity=0); }
    .soldout.ico01 span { margin-left:0px;}
    .item:hover .soldout.ico01 { top:-3px; filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0;}

/** 할인율 아이콘 **/
    .discount_rate { position:absolute; z-index:5; text-align:center; vertical-align:middle; font-family:'arial'; color:#fff; font-weight:bold; letter-spacing:-0.02em; cursor:pointer; }

    /* 공통 */
/*  .discount_rate.ico01 { top:-7px; right:-3px; width:40px; height:40px; line-height:40px; background:rgba(20,20,20,.9); background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:14px; filter:alpha(opacity=0); opacity:.0; -webkit-opacity:.0; }*/
    .discount_rate.ico01 { top:-7px; right:-3px; width:40px; height:40px; line-height:40px; background:rgba(20,20,20,.9); background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:14px; filter:alpha(opacity=0); }
    .discount_rate.ico01 span { margin-left:0px; font-size:11px; font-weight:normal; }
    .item:hover .discount_rate.ico01 { top:-3px; filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0;}

	/*상품 가격 표시 */
	.price_small_Number {font-family: 'Roboto', sans-serif; font-weight: 400; color: #a1a1a1; font-size:13px;text-decoration:line-through; display: inline-block; margin: 10px 0 7px 0;  line-height: 11px; } /*할인전 가격*/
	.price_middle_Number {font-family: 'Roboto', sans-serif; font-weight: bold; color: #2d2c2c;font-size:19px;} /*가격*/
	.price_small_BNumber {font-family: 'Roboto', sans-serif; font-weight: 300; color: #a1a1a1; font-size:23px; text-decoration:line-through; } /*할인전 가격*/
	.price_middle_BNumber {font-family: 'Roboto', sans-serif; font-weight: 500; color: #2d2c2c;font-size:30pt;} /*가격*/
	.price_small_SNumber {font-family: 'Roboto', sans-serif; font-weight: 400; color: #a1a1a1; font-size:13px;text-decoration:line-through; } /*할인전 가격*/
	.price_middle_SNumber {font-family: 'Roboto', sans-serif; font-weight: 600; color: #2d2c2c;font-size:19px; leter-sacing:-0.03em;} /*가격*/
	
	
	.best_Number_yellow {font-family: 'Roboto', sans-serif; font-weight: 500; color:#f6e406;background:#333;font-size: 15pt;}  /*Best 1,2 */
	.best_Number_white {font-family: 'Roboto', sans-serif; font-weight: 500; color:#ffffff;background:#898989;font-size: 15pt;}  /*Best 2,3 ~ */
	.best_Text {font-family: 'Roboto', sans-serif; font-weight: 400;font-size:13px;}  /*Best */
	.price_right_sp{float:right;margin-top:-5px;}
	.big_Best_Box{width: 100px;height:90px;background:rgba(20,20,20,.9);font-size: 30pt;text-align:center;color:#f6e406;line-height: 35px;font-family: 'Roboto', sans-serif;font-weight: 500;margin-top: 3px;padding-top: 10px;}
	.big_Best_Box:after { counter-increment:chapter; content:counter(chapter)""; }
	.big_Best_Text{font-family: 'Roboto', sans-serif; font-weight: 400;font-size:20pt;}  /*Best */
	
	.small_Best_Box{ width: 45px;  text-align: center; line-height: 15px;  margin-top: 3px;  height: 47px;}
	.small_Best_Box:after { counter-increment:chapter; content:counter(chapter)""; }
	.small_Best_Text{font-family: 'Roboto',sans-serif;  font-weight: 400;  font-size: 10px;  line-height: 18px;  display: inline-block;  margin-top: 3px;}  /*Best */
    .won_txt { font-size: 12px; vertical-align: middle;  display: inline-block;  height: 22px;  padding: 0 0 0 4px;  font-weight: 500; }
    .won_txt2 { font-size: 12px; vertical-align: middle; display: inline-block; height: 20px; padding: 0 0 0 4px; font-weight: 500; }
    .won_txt3 { font-size: 12px; vertical-align: middle; display: inline-block; height: 18px; padding: 0 0 0 4px; font-weight: 500; }
    .won_txtbig {font-size: 23px; vertical-align: middle; display: inline-block; height: 22px; padding: 0 0 0 6px; font-weight: 500;}

	
    /* 세일 */
    .discount_rate.ico02 { top:-4px; left:-4px; width:60px; height:60px; line-height:60px; background:rgba(0,0,0,.8)/* 아이콘 배경색상 */; background:#333/* ie9이하 배경색상 */; font-size:20px; color:#fff; cursor:pointer; }
    .discount_rate.ico02 span { font-size:12px; }

    /* 타임세일(레이어) */
    .discount_rate.ico03 { top:10px; right:10px; width:50px; height:50px; line-height:50px; border-radius:100%; -webkit-border-radius:100%; background:rgba(239,45,45,.9)/* 아이콘 배경색상 */; background:#f12c2c/* ie9이하 배경색상 */;  font-size:18px; color:#fff; cursor:pointer; }
    .discount_rate.ico03 span { font-size:12px; }

    /* 타임세일(리스트) */
    .discount_rate.ico04 { top:0px; right:2px; width:60px; line-height:30px; font-size:30px; color:#ef2d2d; cursor:pointer; }
    .discount_rate.ico04 span { margin-left:2px; font-size:18px; }

	/* 브랜드별best*/
    .discount_rate.ico05 {  width:45px; height:45px; line-height:45px; background:rgba(20,20,20,.9); background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:14px; filter:alpha(opacity=0); }
    .discount_rate.ico05 span { margin-left:0px; font-size:11px; font-weight:normal; }
    .item:hover .discount_rate.ico05 { top:-3px; filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0;}

	/* 왼쪽상단 퍼센트 18.07 리뉴얼*/
    .discount_rate.ico06 {  width:65px; height:65px; line-height:65px; background:rgba(20,20,20,.9); background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:22px; filter:alpha(opacity=0); color:#feed00; font-family: 'Roboto', sans-serif; font-weight: 500;}
    .discount_rate.ico06 span { margin-left:0px; font-size:22px; font-weight:normal; font-family: 'Roboto', sans-serif; font-weight: 500;}
    .item:hover .discount_rate.ico06 { top:-3px; filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0;}

	/*상품 하단 왼쪽  할인율*/
	.discount_rate.sale_large_Number {font-family: 'Roboto', sans-serif; font-weight: 700; color:#ff7b05; font-size:37pt; display: inline-block; margin-top: 3px }  /*할인% 가장큰거 */
	.discount_rate.sale_small_Number {font-family: 'Roboto', sans-serif; font-weight: 900; color:#ff7b05; font-size:25pt;}  /*할인% 가장큰거 */
    
    /* 상품상세 */
    .discount_rate_detail_wrap { position:relative; height:0; }
    .discount_rate.detail { top:-11px; right:20px; width:60px; height:60px; line-height:50px; background:url('/_wg/img/detail_sale_ico.png') no-repeat; font-size:16px; text-indent:-10px; }
    .discount_rate.detail span { margin-left:4px; font-size:11px; font-weight:400; }

    .rate0 { display:none !important; }
 

/** 체크박스 **/
    .-chk input[type="checkbox"] { position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow: hidden; clip:rect(0,0,0,0); border:0; } /* 실제 체크박스는 화면에서 숨김 */
    .-chk input[type="checkbox"] + label { position: relative; display:inline-block; cursor:pointer; -webkit-user-select:none; }
    .-chk input[type="checkbox"] + label:before { content: ''; display:inline-block; width:25px;/* 체크박스의 너비를 지정 */ height:25px;/* 체크박스의 높이를 지정 */ line-height:25px;/* 세로정렬을 위해 높이값과 일치 */ text-align:center; vertical-align:middle; background:#fff; border:1px solid #555; } /* 가짜 체크박스 */
    .-chk input[type="checkbox"] + label:active:before,
    .-chk input[type="checkbox"]:checked + label:active:before { box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); }

    /* 체크박스를 체크했을때 */ 
    .-chk input[type="checkbox"]:checked + label:before { content:'\2714';/* 체크표시 유니코드 사용 */ color:#111; background:#f4f4f4; border:1px solid #555; }
    .-chk label:after { content:'오늘하루 열지않음'; position:absolute; left:-116px; top:0; width:105px; height:25px; padding:0 0 0 10px; visibility:hidden; background:#ddd; border:1px solid #ccc; border-right:0; font-size:12px; color:#111; line-height:25px; }
    .-chk input[type="checkbox"]:checked + label:after { visibility:visible; }
    .-chk input[type="checkbox"]:hover + label:after { visibility:visible; }


	.prd_btn_pg_on{font-size:10pt;width: 1.8em;border-radius: 6em;line-height: 1.8em;display: inline-block;text-align: center;background:#1f1f1f;color:#ffffff; text-decoration: none!important;}
	.prd_btn_pg_off{font-size:10pt;width: 1.8em;border-radius: 6em;line-height: 1.8em;display: inline-block;text-align: center;background:#ffffff;color:#1f1f1f;}
	.prd_btn_pg_off:hover{font-size:10pt;  width: 1.8em;border-radius: 6em;line-height: 1.8em;display: inline-block;text-align: center;background:#1f1f1f;color:#ffffff; text-decoration: none!important;}


/** 좋아요 버튼 **/
  .-likeButton { position:absolute; z-index:10; bottom:10px; right:-8px; max-width:80px; height:16px; padding:8px 0 0; background:url('/_wg/img/like_shadow.gif') no-repeat right top; visibility:hidden; filter:alpha(opacity=0); opacity:0; -webkit-opacity:0; }
 /*   .-likeButton { position:absolute; z-index:10; bottom:10px; right:-8px; max-width:80px; height:16px; padding:8px 0 0; background:url('/_wg/img/like_shadow.gif') no-repeat right top;filter:alpha(opacity=0); }*/    
    .item:hover .-likeButton { bottom:15px; visibility:visible; filter: filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0; }
    .-likeButton:hover { color:#333; }

    .-likeButton button { padding:2px 5px; background:#fff; border:1px solid #f4f4f4; color:inherit; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); line-height:16px; }
    .-likeButton button .likePrdIcon { width:14px!important; margin:1px 3px 0 0; }
    .-likeButton button .likePrdCount { font-weight:400; color:inherit; font-size:11px; }

    .-likeButton.selected { bottom:20px!important; right:-8px!important; visibility:visible; filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0; }
    .-likeButton.selected button { background:#333; border:1px solid #222; color:#fff; }
    .-likeButton.selected button:before { content:'LIKE'; position:relative; display:inline-block; margin:0 4px 0 0; font-size:10px; }
    
/**특가 상품 좋아요*/
    .-splikeButton { position:absolute; z-index:10; bottom:10px; right:-8px; max-width:80px; height:16px; padding:8px 0 0; background:url('/_wg/img/like_shadow.gif') no-repeat right top;filter:alpha(opacity=0); }    
    .item:hover .-splikeButton { bottom:75px; visibility:visible; filter: filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0; }
    .-splikeButton:hover { color:#333; }

    .-splikeButton button { padding:2px 5px; background:#fff; border:1px solid #f4f4f4; color:inherit; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); line-height:16px; }
    .-splikeButton button .likePrdIcon { width:14px!important; margin:1px 3px 0 0; }
    .-splikeButton button .likePrdCount { font-weight:400; color:inherit; font-size:11px; }

    .-splikeButton.selected { bottom:80px!important; right:-8px!important; visibility:visible; filter:alpha(opacity=100); opacity:1.0; -webkit-opacity:1.0; }
    .-splikeButton.selected button { background:#333; border:1px solid #222; color:#fff; }
    .-splikeButton.selected button:before { content:'LIKE'; position:relative; display:inline-block; margin:0 4px 0 0; font-size:10px; }


/** 팝업텍스트 **/
    .-pTxt { display:block; position:absolute; z-index:1; top:/*각디자인에서 설정 */; left:50px; padding:5px 10px; background:#333; border-radius:3px; font-size:11px; color:#fff; letter-spacing:0; white-space:nowrap; filter:alpha(opacity=0); opacity:0; -webkit-opacity:0; transition:all .3s ease; -webkit-transition:all .3s ease; }
    li:hover .-pTxt { top:/*각디자인에서 설정 */; filter:alpha(opacity=100); opacity:1; -webkit-opacity:1; }




/** 추가수정 **/

    /* 구매 스텝 */
    .orderStep { display:block; }
    /* 1265px 이하 */
    @media all and (max-width:1265px){
        .orderStep img  { width:100%; }
    }

    /* 게시판 타이틀 이미지 */
    .xans-board-title p.imgArea img { width:100%; }


